{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Listagem de Sliders{% endblock %}
{% block content %}
    <h2>
        Listagem de sliders
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url mainslider:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url mainslider:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url mainslider:create %}'"
               value="+ Novo slider" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Imagem</td>
                <td>Descrição</td>
                <td>Link</td>
                <td>Editar</td>
                <td>Excluir</td>
                <td>Ver</td>
            </tr>
        </thead>
        <tbody>
            {% for slider in sliders %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if slider.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td><a href="{% url mainslider:detail slider.pk %}">{{ slider.image|striptags|slice:"12:" }}</a></td>
                    {% if slider.caption or slider.html_caption %}
                        {% if slider.html_caption %}
                            <td>{{ slider.html_caption|safe }}</td>
                        {% else %}
                            <td>{{ slider.caption }}</td>
                        {% endif %}
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                    <td><a href="{{ slider.url }}" target="_blank">{{ slider.url }}</a></td>
                    <td><a href="{% url mainslider:update slider.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url mainslider:delete slider.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                    <td><a href="{{ MEDIA_URL }}{{ slider.image }}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=sliders.count %}
                <tr>
                    <td colspan="7" style="text-align: right; font-weight: bold; color: green;">{{ total }} slider{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
