{% extends "core/site.html" %}

{% block title %}Home &rsaquo; Parceiros{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; Parceiros{% endblock %}
{% block site_content %}

    <div class="clear"></div>
    <div class="grid_13" style="margin: 0; padding: 0">

    {% for partner in partner_list %}
        {% include "snippets/partner.html" %}
    {% endfor %}

    </div>
    <div class="grid_3" style="padding: 0; margin: 0; float: right;">

        <table class="table_states">
            <tr>
                <td style="padding: 5px 10px">
                    <strong>Por estado:</strong>
                </td>
            </tr>

            <tr class="todos" style="background: #eee">
                <td style="padding: 5px 10px">
                    <a href="{% url partners:all %}">Todos</a>
                </td>
            </tr>

            {% include "snippets/by_locality.html" %}

        </table>
        <br />
    </div>

{% endblock %}
