{% extends "core/site.html" %}

{% block title %}Home &rsaquo; Parceiros &rsaquo; {{ partner.name }}{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; <a href="{% url partners:all %}">Parceiros</a> &rsaquo; {{ partner.name }}{% endblock %}
{% block site_content %}
    {% include "snippets/partner.html" %}
{% endblock %}
