{% extends "core/site.html" %}

{% block title %}Home &rsaquo; Parceiros &rsaquo; Saúde{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; <a href="{% url partners:index %}">Parceiros</a> &rsaquo; Saúde{% endblock %}
{% block site_content %}

    {% for partner in partner_list %}
        {% include "snippets/partner.html" %}
    {% endfor %}

{% endblock %}
