{% extends "core/site.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
    .item_4 {
        background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
        color: #777;
    }
    </style>
{% endblock %}

{% block title %}Home &rsaquo; Parceiros{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; Parceiros{% endblock %}
{% block site_content %}
    <div class="clear clientes_separa_dashs" style="height: 20px">&nbsp;</div>
    <div class="grid_6 prefix_1">
        <a href="{% url partners:technology %}"><img src="{{ STATIC_URL }}core/img/box_tech.png" alt="Tecnologia" /></a>
    </div>
    <div class="grid_6 prefix_1">
        <a href="{% url partners:health %}"><img src="{{ STATIC_URL }}core/img/box_health.png" alt="Saúde" /></a>
    </div>
    <div class="clear clientes_separa_dashs">&nbsp;</div>
{% endblock %}