{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Listagem de parceiros{% endblock %}
{% block content %}
    <h2>
        Listagem de parceiros
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url partners:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url partners:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url partners:create %}'"
               value="+ Novo parceiro" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Nome</td>
                <td>Localidade</td>
                <td>Logo</td>
                <td>Link</td>
                <td>Email</td>
                <td>Fone</td>
                <td>Tipo</td>
                <td>Editar</td>
                <td>Excluir</td>
                <td>Ver</td>
            </tr>
        </thead>
        <tbody>
            {% for partner in partners %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if partner.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td><a href="{% url partners:detail partner.pk %}">{{ partner.name }}</a></td>
                    <td>{{ partner.locality }}</td>
                    <td>{{ partner.image|striptags|slice:"9:" }}</td>
                    <td><a href="{{ partner.link }}" target="_blank">{{ partner.link }}</a></td>
                    <td><a href="mailto:{{ partner.email }}">{{ partner.email }}</a></td>
                    <td>{{ partner.phone }}</td>
                    <td>
                        {% if partner.partner_type == 'T' %}
                            Tecnologia
                        {% endif %}
                        {% if partner.partner_type == 'S' %}
                            Saúde
                        {% endif %}
                    </td>
                    <td><a href="{% url partners:update partner.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url partners:delete partner.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                    <td><a href="{{ MEDIA_URL }}{{ partner.image }}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=partners.count %}
                <tr>
                    <td colspan="11" style="text-align: right; font-weight: bold; color: green;">{{ total }} parceiro{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
