{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load avaliar_extras %}

{% block title %}Relatório do {{ avaliado.nome|capfirst }}{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url admin:index %}">{% trans "Home" %}</a>
      &rsaquo;
      <a href="{% url admin:app_list "avaliar" %}">Avaliar</a>
      &rsaquo;
      <a href="{% url admin:avaliar_avaliacao_changelist %}">Avaliações</a>
      &rsaquo;
      <a href="{% url avaliar:relatorio-avaliacao %}">Relatório de avaliações</a>
      &rsaquo;
      {{ avaliado.nome }}
    </div>
  {% endblock %}
{% endif %}

{% block content %}

<h1>{{ avaliado.nome|capfirst }}</h1>

<ul class="object-tools">
    <li><a href="{% url admin:app_list "avaliar" %}" class="golink">Avaliar</a></li>
    <li><a href="{% url admin:avaliar_avaliacao_changelist %}" class="golink">Avaliações</a></li>
    <li><a href="{% url avaliar:relatorio-avaliacao %}" class="golink">Relatório de avaliações</a></li>
</ul>

<div class="module" id="changelist">
<h2>Dados da avaliação</h2>
<table cellspacing="0">
<thead>
    <tr>
        <th scope="col">Período</th>
        <th scope="col">Técnico</th>
        <th scope="col">Nota Técnico</th>
        <th scope="col">Media técnico</th>
        <th scope="col">Pessoal</th>
        <th scope="col">Nota Pessoal</th>
        <th scope="col">Média pessoal</th>
    </tr>
</thead>
<tbody>
{% for desc in avaliado.avaliacao_set.all %}
    <tr class="{% cycle "row1" "row2" %}">
        <td>{{ desc.periodo }}</td>
        <td>{{ desc.tecnico }}</td>
        <td>{{ desc.nota }}</td>
        <td>{{ avaliado.pk|media_avaliados:desc.periodo.pk }}</td>
        <td>{{ desc.pessoal }}</td>
        <td>{{ desc.nota_pessoal }}</td>
        <td>{{ avaliado.pk|media_pessoal_avaliados:desc.periodo.pk }}</td>
    </tr>
{% empty %}
    <tr class="row1"><td colspan="5">Não há registros</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}