{% extends 'admin/change_list.html' %}
{% load i18n %}
{% load avaliar_extras %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
    .qtd-avaliacao-verde {color: #538033}
    .qtd-avaliacao-vermelho {color: #d61616}
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}avaliar/js/jquery.printElement.min.js"></script>
    <script type="text/javascript">
    $(function(){

        $(":radio:first").focus();

        // Selecionando o "todos" por padrão
        $("a.all").closest("li").addClass("selected");

        {% if request_get_periodo %}
            $(":radio#periodo-{{ request_get_periodo }}").attr("checked", "checked")
                    .closest("li").addClass("selected");
            $(".periodo").find(".all").closest("li").removeClass("selected");
        {% endif %}

        {% if request_get_equipe %}
            $(":radio#equipe-{{ request_get_equipe }}").attr("checked", "checked")
                    .closest("li").addClass("selected");
            $(".equipe").find(".all").closest("li").removeClass("selected");
        {% endif %}

        {% if request_get_avaliado %}
            $(":radio#avaliado-{{ request_get_avaliado }}").attr("checked", "checked")
                    .closest("li").addClass("selected");
            $(".avaliado").find(".all").closest("li").removeClass("selected");
        {% endif %}

        $(":reset.limpar").click(function(){
            $(".selected").removeAttr("class");
            $(".all").closest("li").addClass("selected");
        });


        // Estilos do filtro período

        $(".periodo").find(":input, a").bind("click, change", function(){
            $(".periodo").find("li").removeAttr("class");
            $(this).closest("li").addClass("selected");
        });

        $(".periodo").find("a.all").bind("click", function(){
            $(".periodo").find("li").removeAttr("class").find(":input").removeAttr("checked");
            $(this).closest("li").addClass("selected");
        });


        // Estilos do filtro equipe

        $(".equipe").find(":input, a").bind("click, change", function(){
            $(".equipe").find("li").removeAttr("class");
            $(this).closest("li").addClass("selected");
        });

        $(".equipe").find("a.all").bind("click", function(){
            $(".equipe").find("li").removeAttr("class").find(":input").removeAttr("checked");
            $(this).closest("li").addClass("selected");
        });


        // Estilos do filtro avaliado

        $(".avaliado").find(":input, a").bind("click, change", function(){
            $(".avaliado").find("li").removeAttr("class");
            $(this).closest("li").addClass("selected");
        });

        $(".avaliado").find("a.all").bind("click", function(){
            $(".avaliado").find("li").removeAttr("class").find(":input").removeAttr("checked");
            $(this).closest("li").addClass("selected");
        });


        // Print Element

        $("#print_report").click(function(){
            $("div.results").printElement();
        });

    });
    </script>
{% endblock %}

{% block title %}Relatório de avaliações{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url admin:index %}">{% trans "Home" %}</a>
        &rsaquo;
        <a href="{% url admin:app_list "avaliar" %}">Avaliar</a>
        &rsaquo;
        <a href="{% url admin:avaliar_avaliacao_changelist %}">Avaliações</a>
        &rsaquo;
        Relatório de avaliações
    </div>
  {% endblock %}
{% endif %}

{% block content %}

<h1>Relatório de avaliações</h1>

<ul class="object-tools">
    <li><a href="{% url admin:app_list "avaliar" %}" class="golink">Avaliar</a></li>
    <li><a href="{% url admin:avaliar_avaliacao_changelist %}" class="golink">Avaliações</a></li>
    <li><a class="golink" href="javascript:void(0);" id="print_report">Imprimir</a></li>
</ul>

<div class="module filtered" id="changelist">

<div id="changelist-filter">
    <h2>Filtro</h2>
    <form action="" method="GET">
    <h3>Por período</h3>
    <ul class="periodo">
        <li><a href="javascript:void(0);" class="all">Todos</a></li>
        {% for periodo in periodos %}
            <li class="{{ periodo.pk }}">
                <input id="periodo-{{ periodo.pk }}" type="radio" name="periodo" value="{{ periodo.pk }}" />
                <label for="periodo-{{ periodo.pk }}"><a>{{ periodo }}</a></label>
            </li>
        {% empty %}
            <li><a>Não há registros</a></li>
        {% endfor %}
    </ul>
    <h3>Por avaliados</h3>
    <ul class="avaliado">
        <li><a href="javascript:void(0);" class="all">Todos</a></li>
        {% for avaliado in avaliados %}
            <li class="{{ avaliado.pk }}">
                <input id="avaliado-{{ avaliado.pk }}" type="radio" name="avaliado" value="{{ avaliado.pk }}" />
                <label for="avaliado-{{ avaliado.pk }}"><a>{{ avaliado.nome }}</a></label>
            </li>
        {% empty %}
            <li>Não há registros</li>
        {% endfor %}
    </ul>
    <h3>Por equipe</h3>
    <ul class="equipe">
        <li><a href="javascript:void(0);" class="all">Todos</a></li>
        {% for equipe in equipes %}
            <li class="{{ equipe.pk }}">
                <input id="equipe-{{ equipe.pk }}" type="radio" name="equipe" value="{{ equipe.pk }}" />
                <label for="equipe-{{ equipe.pk }}"><a>{{ equipe.nome }}</a></label>
            </li>
        {% empty %}
            <li>Não há registros</li>
        {% endfor %}
    </ul>
    <ul>
        <li class="submit-row">
            <input type="submit" value="Filtrar" />
            <input type="reset" class="limpar" value="Limpar" />
        </li>
    </ul>
    <ul>
        {% if periodo_ativo %}
            {% for f in funcionarios %}
                <li>
                    <strong>{{ f.usuario|capfirst }}, {{ f.equipe|capfirst }}</strong><br />
                    {% if f.avaliacoes.count == f.avaliados.count %}
                        <span class="qtd-avaliacao-verde">
                            Fez {{ f.avaliacoes.count }} de {{ f.avaliados.count }} avaliações.
                        </span>
                    {% else %}
                        <span class="qtd-avaliacao-vermelho">
                            Fez {{ f.avaliacoes.count }} de {{ f.avaliados.count }} avaliações.
                        </span>
                    {% endif %}
                </li>
            {% empty %}
                <li>Não há registros</li>
            {% endfor %}
        {% endif %}
    </ul>
    </form>
</div>

<div class="results">

<h2>Avaliações
{% if request_get_periodo %}
    {% for periodo in periodos %}
        {% if periodo.pk == request_get_periodo|add:"0" %}
            | {{ periodo }}
        {% endif %}
    {% endfor %}
{% endif %}
{% if request_get_equipe %}
    {% for equipe in equipes %}
        {% if equipe.pk == request_get_equipe|add:"0" %}
            | {{ equipe|capfirst }}
        {% endif %}
    {% endfor %}
{% endif %}
{% if request_get_avaliado %}
    {% for avaliado in avaliados %}
        {% if avaliado.pk == request_get_avaliado|add:"0" %}
            | {{ avaliado|capfirst }}
        {% endif %}
    {% endfor %}
{% endif %}
</h2>
<table>
    <thead>
    <tr>
        <th scope="col">Período</th>
        <th scope="col">Equipe</th>
        <th scope="col">Avaliado</th>
        <th scope="col">Nota técnico</th>
        <th scope="col">Média técnico</th>
        <th scope="col">Nota pessoal</th>
        <th scope="col">Média pessoal</th>
    </tr>
    </thead>
    <tbody>
    {% for avaliacao in avaliacoes %}
        <tr class="{% cycle "row1" "row2" %}">
            <td>{{ avaliacao.periodo }}</td>
            <td>{{ avaliacao.avaliado.equipe }}</td>
            <td><a href="{% url avaliar:avaliado_detail avaliacao.avaliado.pk %}">{{ avaliacao.avaliado }}</a></td>
            <td>{{ avaliacao.nota }}</td>
            <td>{% if avaliacao.avaliado.avaliacao_set.count %}{{ avaliacao.avaliado.pk|media_avaliados:avaliacao.periodo.pk }}{% else %}Sem notas{% endif %}</td>
            <td>{{ avaliacao.nota_pessoal }}</td>
            <td>{% if avaliacao.avaliado.avaliacao_set.count %}{{ avaliacao.avaliado.pk|media_pessoal_avaliados:avaliacao.periodo.pk }}{% else %}Sem notas{% endif %}</td>
        </tr>
    {% empty %}
        <tr class="row1"><td>Não há registros</td></tr>
    {% endfor %}
    </tbody>
</table>

</div>

<p class="paginator">
    &copy; <label onclick="window.location='http://www.nd.com.br'">ND Engenharia e Software</label>
</p>
</div>
{% endblock %}