{% extends "base/index.html" %}

{% block title %}
    {% if wordnews %}
        Alterar letreiro
    {% else %}
        Cadastrar letreiro
    {% endif %}
{% endblock %}

{% block header %}
    {% if wordnews %}
        Alterar letreiro
    {% else %}
        Cadastrar letreiro
    {% endif %}
{% endblock %}

{% block content %}

    {% if wordnews %}
        <h2>Alterar letreiro</h2>
    {% else %}
        <h2>Cadastrar novo letreiro</h2>
    {% endif %}

    <div style="padding: 20px 10px 0 10px">

        {% include "snippets/message.html" %}
        {{ form.non_field_errors }}

        <form action="." method="POST">{% csrf_token %}
            <table>
                {% include "snippets/form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Salvar" style="color: green; font-weight: bold;" />
                        <input type="button" onclick="document.location='{% url wordnews:list %}'" value="Cancelar" style="color: #CC3434; font-weight: bold;" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
{% endblock %}
