{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'ND Engenharia e Software' %}{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "avaliar/css/style.css" %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <img src="{% static "avaliar/img/logo.png" %}" alt="{% trans 'ND Engenharia e Software' %}" />
    </h1>
{% endblock %}

{% block userlinks %}
    {% if user.is_superuser %}
        <a href="{% url avaliar:relatorio-avaliacao %}">{% trans 'Relatório' %}</a> /
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
