{% load icon_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Base icons</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}icon_manager/css/base.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}icon_manager/css/sprite.css" />
    <script src="{{ STATIC_URL }}core/js/jquery-1.6.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}icon_manager/js/default.js" type="text/javascript"></script>
</head>
<body>
<h1>ND &iacute;cones para softwares</h1>
<div class="group">
    <div class="group-icons">
        <h2>Normal 32px <small>{{ normal_32.count }} &iacute;cone{{ normal_32|pluralize }}</small></h2>
        {% autoescape off %}{{ normal_32|render_icones }}{% endautoescape %}
    </div>
    <div class="group-icons">
        <h2>Inverso 32px <small>{{ inverso_32.count }} &iacute;cone{{ inverso_32|pluralize }}</small></h2>
        {% autoescape off %}{{ inverso_32|render_icones }}{% endautoescape %}
    </div>
</div>
<div class="group">
    <div class="group-icons">
        <h2>Normal 64px <small>{{ normal_64.count }} &iacute;cone{{ normal_64|pluralize }}</small></h2>
        {% autoescape off %}{{ normal_64|render_icones }}{% endautoescape %}
    </div>
    <div class="group-icons">
        <h2>Inverso 64px <small>{{ inverso_64.count }} &iacute;cone{{ inverso_64|pluralize }}</small></h2>
        {% autoescape off %}{{ inverso_64|render_icones }}{% endautoescape %}
    </div>
</div>
<div class="copy">
    &copy; 2012 - ND Engenharia e Software -
    <a href="{% url admin:icon_manager_icone_changelist %}">Ícones</a> ou
    <a href="{% url admin:app_list "icon_manager" %}">APP Gerenciador de Ícones</a>
</div>
<div class="escolha">
    <select id="cores" class="cores">
        {% for cor in cores %}
            <option value="mc-cor-{{ cor.nome }}">{{ cor.nome|capfirst }}</option>
        {% endfor %}
    </select>
    <a class="mc-sprite-32 mc-inverso-fechar-32 mc-cor-vermelho" title="fechar" href="javascript:void(0);">fechar</a>
</div>
</body>
</html>