/* CSS File */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font-family: Segoe UI Light, Segoe UI, Tahoma, Arial, Verdana, sans-serif;
}
h1, h2 {
    margin: 20px 0 0 20px;
	clear: both;
}
.group {
    clear: both;
}
.group-icons {
	float: left;
	margin-right: 20px;
}
/* Legends */
.legends {
    list-style: none;
    clear: both;
}
.legend {
    display: inline;
    float: left;
    width: 64px;
    margin: 10px 0 0 20px;
    font-size: 11px;
    color: #444c56;
    text-transform: capitalize;
    text-align: center;
    background: #f8f8f8;
    padding: 3px 0;
}
/* List icons */
.list-icons {
    clear: both;
	list-style: none;
}
.list-icons > li {
	float: left;
	margin: 20px 0 0 20px;
	width: 64px;
	background-color: #F3F3F3;
}
/* Copyright */
.copy {
    clear: both;
    margin: 20px;
    padding-top: 20px;
    font-size: 11px;
}
/* Escolha */
.escolha {
    display: none;
    position: absolute;
    border: solid 1px #999;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    padding: 10px;
}
.escolha > select {
    float: left;
    height: 32px;
    font-family: Segoe UI Light, Segoe UI, Tahoma, Arial, Verdana, sans-serif;
    padding: 4px;
}
.escolha > a.mc-inverso-fechar-32 {
    float: left;
}