/* Sprite 32px */
.mc-sprite-32 {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/icones-32.png);
	transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out;
	text-indent: -999px;
    overflow: hidden;
}
.mc-sprite-32:hover {
    background: url(../img/icones-32.png);
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out;
}

/* Sprite 64px */
.mc-sprite-64 {
    display: block;
    width: 64px;
    height: 64px;
    background: url(../img/icones-64.png);
	transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out;
	text-indent: -999px;
    overflow: hidden;
}
.mc-sprite-64:hover {
    background: url(../img/icones-64.png);
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    transition: background .1s ease-in-out;
    -moz-transition: background .1s ease-in-out;
    -webkit-transition: background .1s ease-in-out;
}

/* Cores */
.mc-cor-vermelho, .mc-cor-vermelho:hover { background-color: #e5010a }
.mc-cor-amarelo, .mc-cor-amarelo:hover { background-color: #ffc100 }
.mc-cor-verde, .mc-cor-verde:hover { background-color: #28b700 }
.mc-cor-grafite, .mc-cor-grafite:hover { background-color: #444c56 }
.mc-cor-azul, .mc-cor-azul:hover { background-color: #0086db }

/* Normal 32px */
.mc-novo-32 { background-position: 0 0 }
.mc-detalhe-32 { background-position: -32px 0 }
.mc-lista-32 { background-position: -64px 0 }
.mc-editar-32 { background-position: -96px 0 }
.mc-seguranca-32 { background-position: -128px 0 }
.mc-fechar-32 { background-position: -160px 0 }
.mc-buscar-32 { background-position: -192px 0 }
.mc-cancelar-32 { background-position: -224px 0 }
.mc-confirmar-32 { background-position: -256px 0 }
.mc-mensagem-32 { background-position: -288px 0 }
.mc-imprimir-32 { background-position: -320px 0 }
.mc-bloquear-32 { background-position: -352px 0 }
.mc-recarregar-32 { background-position: -384px 0 }
.mc-atualizar-32 { background-position: -416px 0 }
.mc-grafico-32 { background-position: -448px 0 }
.mc-configurar-32 { background-position: -480px 0 }
.mc-pasta-32 { background-position: -512px 0 }
.mc-excluir-32 { background-position: -544px 0 }
.mc-voltar-32 { background-position: -576px 0 }
.mc-alterar-senha-32 { background-position: -608px 0 }
.mc-salvar-32 { background-position: -640px 0 }
.mc-ajuda-32 { background-position: -672px 0 }
.mc-usuario-32 { background-position: -704px 0 }
.mc-senha-32 { background-position: -736px 0 }
.mc-documento-32 { background-position: -768px 0 }
.mc-sair-32 { background-position: -800px 0 }
.mc-logout-32 { background-position: -832px 0 }
.mc-computador-32 { background-position: -864px 0 }
.mc-calendario-32 { background-position: -896px 0 }
.mc-relogio-32 { background-position: -928px 0 }
.mc-local-32 { background-position: -960px 0 }
.mc-coleta-32 { background-position: -992px 0 }
.mc-globo-32 { background-position: -1024px 0 }
.mc-teclado-32 { background-position: -1056px 0 }
.mc-liberar-documento-32 { background-position: -1088px 0 }
.mc-configurar-impressora-32 { background-position: -1120px 0 }
.mc-receber-coleta-32 { background-position: -1152px 0 }
.mc-receber-32 { background-position: -1184px 0 }
.mc-banco-32 { background-position: -1216px 0 }
.mc-configurar-banco-32 { background-position: -1248px 0 }
.mc-livro-32 { background-position: -1280px 0 }
.mc-sobre-32 { background-position: -1312px 0 }
.mc-dinheiro-32 { background-position: -1344px 0 }
.mc-circulo-32 { background-position: -1376px 0 }
.mc-terra-32 { background-position: -1408px 0 }

/* Normal Hover 32px */
.mc-novo-32:hover { background-position: 0 32px }
.mc-detalhe-32:hover { background-position: -32px 32px }
.mc-lista-32:hover { background-position: -64px 32px }
.mc-editar-32:hover { background-position: -96px 32px }
.mc-seguranca-32:hover { background-position: -128px 32px }
.mc-fechar-32:hover { background-position: -160px 32px }
.mc-buscar-32:hover { background-position: -192px 32px }
.mc-cancelar-32:hover { background-position: -224px 32px }
.mc-confirmar-32:hover { background-position: -256px 32px }
.mc-mensagem-32:hover { background-position: -288px 32px }
.mc-imprimir-32:hover { background-position: -320px 32px }
.mc-bloquear-32:hover { background-position: -352px 32px }
.mc-recarregar-32:hover { background-position: -384px 32px }
.mc-atualizar-32:hover { background-position: -416px 32px }
.mc-grafico-32:hover { background-position: -448px 32px }
.mc-configurar-32:hover { background-position: -480px 32px }
.mc-pasta-32:hover { background-position: -512px 32px }
.mc-excluir-32:hover { background-position: -544px 32px }
.mc-voltar-32:hover { background-position: -576px 32px }
.mc-alterar-senha-32:hover { background-position: -608px 32px }
.mc-salvar-32:hover { background-position: -640px 32px }
.mc-ajuda-32:hover { background-position: -672px 32px }
.mc-usuario-32:hover { background-position: -704px 32px }
.mc-senha-32:hover { background-position: -736px 32px }
.mc-documento-32:hover { background-position: -768px 32px }
.mc-sair-32:hover { background-position: -800px 32px }
.mc-logout-32:hover { background-position: -832px 32px }
.mc-computador-32:hover { background-position: -864px 32px }
.mc-calendario-32:hover { background-position: -896px 32px }
.mc-relogio-32:hover { background-position: -928px 32px }
.mc-local-32:hover { background-position: -960px 32px }
.mc-coleta-32:hover { background-position: -992px 32px }
.mc-globo-32:hover { background-position: -1024px 32px }
.mc-teclado-32:hover { background-position: -1056px 32px }
.mc-liberar-documento-32:hover { background-position: -1088px 32px }
.mc-configurar-impressora-32:hover { background-position: -1120px 32px }
.mc-receber-coleta-32:hover { background-position: -1152px 32px }
.mc-receber-32:hover { background-position: -1184px 32px }
.mc-banco-32:hover { background-position: -1216px 32px }
.mc-configurar-banco-32:hover { background-position: -1248px 32px }
.mc-livro-32:hover { background-position: -1280px 32px }
.mc-sobre-32:hover { background-position: -1312px 32px }
.mc-dinheiro-32:hover { background-position: -1344px 32px }
.mc-circulo-32:hover { background-position: -1376px 32px }
.mc-terra-32:hover { background-position: -1408px 32px }

/* Inverso 32px */
.mc-inverso-novo-32 { background-position: 0 32px }
.mc-inverso-detalhe-32 { background-position: -32px 32px }
.mc-inverso-lista-32 { background-position: -64px 32px }
.mc-inverso-editar-32 { background-position: -96px 32px }
.mc-inverso-seguranca-32 { background-position: -128px 32px }
.mc-inverso-fechar-32 { background-position: -160px 32px }
.mc-inverso-buscar-32 { background-position: -192px 32px }
.mc-inverso-cancelar-32 { background-position: -224px 32px }
.mc-inverso-confirmar-32 { background-position: -256px 32px }
.mc-inverso-mensagem-32 { background-position: -288px 32px }
.mc-inverso-imprimir-32 { background-position: -320px 32px }
.mc-inverso-bloquear-32 { background-position: -352px 32px }
.mc-inverso-recarregar-32 { background-position: -384px 32px }
.mc-inverso-atualizar-32 { background-position: -416px 32px }
.mc-inverso-grafico-32 { background-position: -448px 32px }
.mc-inverso-configurar-32 { background-position: -480px 32px }
.mc-inverso-pasta-32 { background-position: -512px 32px }
.mc-inverso-excluir-32 { background-position: -544px 32px }
.mc-inverso-voltar-32 { background-position: -576px 32px }
.mc-inverso-alterar-senha-32 { background-position: -608px 32px }
.mc-inverso-salvar-32 { background-position: -640px 32px }
.mc-inverso-ajuda-32 { background-position: -672px 32px }
.mc-inverso-usuario-32 { background-position: -704px 32px }
.mc-inverso-senha-32 { background-position: -736px 32px }
.mc-inverso-documento-32 { background-position: -768px 32px }
.mc-inverso-sair-32 { background-position: -800px 32px }
.mc-inverso-logout-32 { background-position: -832px 32px }
.mc-inverso-computador-32 { background-position: -864px 32px }
.mc-inverso-calendario-32 { background-position: -896px 32px }
.mc-inverso-relogio-32 { background-position: -928px 32px }
.mc-inverso-local-32 { background-position: -960px 32px }
.mc-inverso-coleta-32 { background-position: -992px 32px }
.mc-inverso-globo-32 { background-position: -1024px 32px }
.mc-inverso-teclado-32 { background-position: -1056px 32px }
.mc-inverso-liberar-documento-32 { background-position: -1088px 32px }
.mc-inverso-configurar-impressora-32 { background-position: -1120px 32px }
.mc-inverso-receber-coleta-32 { background-position: -1152px 32px }
.mc-inverso-receber-32 { background-position: -1184px 32px }
.mc-inverso-banco-32 { background-position: -1216px 32px }
.mc-inverso-configurar-banco-32 { background-position: -1248px 32px }
.mc-inverso-livro-32 { background-position: -1280px 32px }
.mc-inverso-sobre-32 { background-position: -1312px 32px }
.mc-inverso-dinheiro-32 { background-position: -1344px 32px }
.mc-inverso-circulo-32 { background-position: -1376px 32px }
.mc-inverso-terra-32 { background-position: -1408px 32px }

/* Inverso Hover 32px */
.mc-inverso-novo-32:hover { background-position: 0 0 }
.mc-inverso-detalhe-32:hover { background-position: -32px 0 }
.mc-inverso-lista-32:hover { background-position: -64px 0 }
.mc-inverso-editar-32:hover { background-position: -96px 0 }
.mc-inverso-seguranca-32:hover { background-position: -128px 0 }
.mc-inverso-fechar-32:hover { background-position: -160px 0 }
.mc-inverso-buscar-32:hover { background-position: -192px 0 }
.mc-inverso-cancelar-32:hover { background-position: -224px 0 }
.mc-inverso-confirmar-32:hover { background-position: -256px 0 }
.mc-inverso-mensagem-32:hover { background-position: -288px 0 }
.mc-inverso-imprimir-32:hover { background-position: -320px 0 }
.mc-inverso-bloquear-32:hover { background-position: -352px 0 }
.mc-inverso-recarregar-32:hover { background-position: -384px 0 }
.mc-inverso-atualizar-32:hover { background-position: -416px 0 }
.mc-inverso-grafico-32:hover { background-position: -448px 0 }
.mc-inverso-configurar-32:hover { background-position: -480px 0 }
.mc-inverso-pasta-32:hover { background-position: -512px 0 }
.mc-inverso-excluir-32:hover { background-position: -544px 0 }
.mc-inverso-voltar-32:hover { background-position: -576px 0 }
.mc-inverso-alterar-senha-32:hover { background-position: -608px 0 }
.mc-inverso-salvar-32:hover { background-position: -640px 0 }
.mc-inverso-ajuda-32:hover { background-position: -672px 0 }
.mc-inverso-usuario-32:hover { background-position: -704px 0 }
.mc-inverso-senha-32:hover { background-position: -736px 0 }
.mc-inverso-documento-32:hover { background-position: -768px 0 }
.mc-inverso-sair-32:hover { background-position: -800px 0 }
.mc-inverso-logout-32:hover { background-position: -832px 0 }
.mc-inverso-computador-32:hover { background-position: -864px 0 }
.mc-inverso-calendario-32:hover { background-position: -896px 0 }
.mc-inverso-relogio-32:hover { background-position: -928px 0 }
.mc-inverso-local-32:hover { background-position: -960px 0 }
.mc-inverso-coleta-32:hover { background-position: -992px 0 }
.mc-inverso-globo-32:hover { background-position: -1024px 0 }
.mc-inverso-teclado-32:hover { background-position: -1056px 0 }
.mc-inverso-liberar-documento-32:hover { background-position: -1088px 0 }
.mc-inverso-configurar-impressora-32:hover { background-position: -1120px 0 }
.mc-inverso-receber-coleta-32:hover { background-position: -1152px 0 }
.mc-inverso-receber-32:hover { background-position: -1184px 0 }
.mc-inverso-banco-32:hover { background-position: -1216px 0 }
.mc-inverso-configurar-banco-32:hover { background-position: -1248px 0 }
.mc-inverso-livro-32:hover { background-position: -1280px 0 }
.mc-inverso-sobre-32:hover { background-position: -1312px 0 }
.mc-inverso-dinheiro-32:hover { background-position: -1344px 0 }
.mc-inverso-circulo-32:hover { background-position: -1376px 0 }
.mc-inverso-terra-32:hover { background-position: -1408px 0 }

/* Normal 64px */
.mc-novo-64 { background-position: 0 0 }
.mc-detalhe-64 { background-position: -64px 0 }
.mc-lista-64 { background-position: -128px 0 }
.mc-editar-64 { background-position: -192px 0 }
.mc-seguranca-64 { background-position: -256px 0 }
.mc-fechar-64 { background-position: -320px 0 }
.mc-buscar-64 { background-position: -384px 0 }
.mc-cancelar-64 { background-position: -448px 0 }
.mc-confirmar-64 { background-position: -512px 0 }
.mc-mensagem-64 { background-position: -576px 0 }
.mc-imprimir-64 { background-position: -640px 0 }
.mc-bloquear-64 { background-position: -704px 0 }
.mc-recarregar-64 { background-position: -768px 0 }
.mc-atualizar-64 { background-position: -832px 0 }
.mc-grafico-64 { background-position: -896px 0 }
.mc-configurar-64 { background-position: -960px 0 }
.mc-pasta-64 { background-position: -1024px 0 }
.mc-excluir-64 { background-position: -1088px 0 }
.mc-voltar-64 { background-position: -1152px 0 }
.mc-alterar-senha-64 { background-position: -1216px 0 }
.mc-salvar-64 { background-position: -1280px 0 }
.mc-ajuda-64 { background-position: -1344px 0 }
.mc-usuario-64 { background-position: -1408px 0 }
.mc-senha-64 { background-position: -1472px 0 }
.mc-documento-64 { background-position: -1536px 0 }
.mc-sair-64 { background-position: -1600px 0 }
.mc-logout-64 { background-position: -1664px 0 }
.mc-computador-64 { background-position: -1728px 0 }
.mc-calendario-64 { background-position: -1792px 0 }
.mc-relogio-64 { background-position: -1856px 0 }
.mc-local-64 { background-position: -1920px 0 }
.mc-coleta-64 { background-position: -1984px 0 }
.mc-globo-64 { background-position: -2048px 0 }
.mc-teclado-64 { background-position: -2112px 0 }
.mc-liberar-documento-64 { background-position: -2176px 0 }
.mc-configurar-impressora-64 { background-position: -2240px 0 }
.mc-receber-coleta-64 { background-position: -2304px 0 }
.mc-receber-64 { background-position: -2368px 0 }
.mc-banco-64 { background-position: -2432px 0 }
.mc-configurar-banco-64 { background-position: -2496px 0 }
.mc-livro-64 { background-position: -2560px 0 }
.mc-sobre-64 { background-position: -2624px 0 }
.mc-dinheiro-64 { background-position: -2688px 0 }
.mc-circulo-64 { background-position: -2752px 0 }
.mc-terra-64 { background-position: -2816px 0 }

/* Normal Hover 64px */
.mc-novo-64:hover { background-position: 0 64px }
.mc-detalhe-64:hover { background-position: -64px 64px }
.mc-lista-64:hover { background-position: -128px 64px }
.mc-editar-64:hover { background-position: -192px 64px }
.mc-seguranca-64:hover { background-position: -256px 64px }
.mc-fechar-64:hover { background-position: -320px 64px }
.mc-buscar-64:hover { background-position: -384px 64px }
.mc-cancelar-64:hover { background-position: -448px 64px }
.mc-confirmar-64:hover { background-position: -512px 64px }
.mc-mensagem-64:hover { background-position: -576px 64px }
.mc-imprimir-64:hover { background-position: -640px 64px }
.mc-bloquear-64:hover { background-position: -704px 64px }
.mc-recarregar-64:hover { background-position: -768px 64px }
.mc-atualizar-64:hover { background-position: -832px 64px }
.mc-grafico-64:hover { background-position: -896px 64px }
.mc-configurar-64:hover { background-position: -960px 64px }
.mc-pasta-64:hover { background-position: -1024px 64px }
.mc-excluir-64:hover { background-position: -1088px 64px }
.mc-voltar-64:hover { background-position: -1152px 64px }
.mc-alterar-senha-64:hover { background-position: -1216px 64px }
.mc-salvar-64:hover { background-position: -1280px 64px }
.mc-ajuda-64:hover { background-position: -1344px 64px }
.mc-usuario-64:hover { background-position: -1408px 64px }
.mc-senha-64:hover { background-position: -1472px 64px }
.mc-documento-64:hover { background-position: -1536px 64px }
.mc-sair-64:hover { background-position: -1600px 64px }
.mc-logout-64:hover { background-position: -1664px 64px }
.mc-computador-64:hover { background-position: -1728px 64px }
.mc-calendario-64:hover { background-position: -1792px 64px }
.mc-relogio-64:hover { background-position: -1856px 64px }
.mc-local-64:hover { background-position: -1920px 64px }
.mc-coleta-64:hover { background-position: -1984px 64px }
.mc-globo-64:hover { background-position: -2048px 64px }
.mc-teclado-64:hover { background-position: -2112px 64px }
.mc-liberar-documento-64:hover { background-position: -2176px 64px }
.mc-configurar-impressora-64:hover { background-position: -2240px 64px }
.mc-receber-coleta-64:hover { background-position: -2304px 64px }
.mc-receber-64:hover { background-position: -2368px 64px }
.mc-banco-64:hover { background-position: -2432px 64px }
.mc-configurar-banco-64:hover { background-position: -2496px 64px }
.mc-livro-64:hover { background-position: -2560px 64px }
.mc-sobre-64:hover { background-position: -2624px 64px }
.mc-dinheiro-64:hover { background-position: -2688px 64px }
.mc-circulo-64:hover { background-position: -2752px 64px }
.mc-terra-64:hover { background-position: -2816px 64px }

/* Inverso 64px */
.mc-inverso-novo-64 { background-position: 0 64px }
.mc-inverso-detalhe-64 { background-position: -64px 64px }
.mc-inverso-lista-64 { background-position: -128px 64px }
.mc-inverso-editar-64 { background-position: -192px 64px }
.mc-inverso-seguranca-64 { background-position: -256px 64px }
.mc-inverso-fechar-64 { background-position: -320px 64px }
.mc-inverso-buscar-64 { background-position: -384px 64px }
.mc-inverso-cancelar-64 { background-position: -448px 64px }
.mc-inverso-confirmar-64 { background-position: -512px 64px }
.mc-inverso-mensagem-64 { background-position: -576px 64px }
.mc-inverso-imprimir-64 { background-position: -640px 64px }
.mc-inverso-bloquear-64 { background-position: -704px 64px }
.mc-inverso-recarregar-64 { background-position: -768px 64px }
.mc-inverso-atualizar-64 { background-position: -832px 64px }
.mc-inverso-grafico-64 { background-position: -896px 64px }
.mc-inverso-configurar-64 { background-position: -960px 64px }
.mc-inverso-pasta-64 { background-position: -1024px 64px }
.mc-inverso-excluir-64 { background-position: -1088px 64px }
.mc-inverso-voltar-64 { background-position: -1152px 64px }
.mc-inverso-alterar-senha-64 { background-position: -1216px 64px }
.mc-inverso-salvar-64 { background-position: -1280px 64px }
.mc-inverso-ajuda-64 { background-position: -1344px 64px }
.mc-inverso-usuario-64 { background-position: -1408px 64px }
.mc-inverso-senha-64 { background-position: -1472px 64px }
.mc-inverso-documento-64 { background-position: -1536px 64px }
.mc-inverso-sair-64 { background-position: -1600px 64px }
.mc-inverso-logout-64 { background-position: -1664px 64px }
.mc-inverso-computador-64 { background-position: -1728px 64px }
.mc-inverso-calendario-64 { background-position: -1792px 64px }
.mc-inverso-relogio-64 { background-position: -1856px 64px }
.mc-inverso-local-64 { background-position: -1920px 64px }
.mc-inverso-coleta-64 { background-position: -1984px 64px }
.mc-inverso-globo-64 { background-position: -2048px 64px }
.mc-inverso-teclado-64 { background-position: -2112px 64px }
.mc-inverso-liberar-documento-64 { background-position: -2176px 64px }
.mc-inverso-configurar-impressora-64 { background-position: -2240px 64px }
.mc-inverso-receber-coleta-64 { background-position: -2304px 64px }
.mc-inverso-receber-64 { background-position: -2368px 64px }
.mc-inverso-banco-64 { background-position: -2432px 64px }
.mc-inverso-configurar-banco-64 { background-position: -2496px 64px }
.mc-inverso-livro-64 { background-position: -2560px 64px }
.mc-inverso-sobre-64 { background-position: -2624px 64px }
.mc-inverso-dinheiro-64 { background-position: -2688px 64px }
.mc-inverso-circulo-64 { background-position: -2752px 64px }
.mc-inverso-terra-64 { background-position: -2816px 64px }

/* Inverso Hover 64px */
.mc-inverso-novo-64:hover { background-position: 0 0 }
.mc-inverso-detalhe-64:hover { background-position: -64px 0 }
.mc-inverso-lista-64:hover { background-position: -128px 0 }
.mc-inverso-editar-64:hover { background-position: -192px 0 }
.mc-inverso-seguranca-64:hover { background-position: -256px 0 }
.mc-inverso-fechar-64:hover { background-position: -320px 0 }
.mc-inverso-buscar-64:hover { background-position: -384px 0 }
.mc-inverso-cancelar-64:hover { background-position: -448px 0 }
.mc-inverso-confirmar-64:hover { background-position: -512px 0 }
.mc-inverso-mensagem-64:hover { background-position: -576px 0 }
.mc-inverso-imprimir-64:hover { background-position: -640px 0 }
.mc-inverso-bloquear-64:hover { background-position: -704px 0 }
.mc-inverso-recarregar-64:hover { background-position: -768px 0 }
.mc-inverso-atualizar-64:hover { background-position: -832px 0 }
.mc-inverso-grafico-64:hover { background-position: -896px 0 }
.mc-inverso-configurar-64:hover { background-position: -960px 0 }
.mc-inverso-pasta-64:hover { background-position: -1024px 0 }
.mc-inverso-excluir-64:hover { background-position: -1088px 0 }
.mc-inverso-voltar-64:hover { background-position: -1152px 0 }
.mc-inverso-alterar-senha-64:hover { background-position: -1216px 0 }
.mc-inverso-salvar-64:hover { background-position: -1280px 0 }
.mc-inverso-ajuda-64:hover { background-position: -1344px 0 }
.mc-inverso-usuario-64:hover { background-position: -1408px 0 }
.mc-inverso-senha-64:hover { background-position: -1472px 0 }
.mc-inverso-documento-64:hover { background-position: -1536px 0 }
.mc-inverso-sair-64:hover { background-position: -1600px 0 }
.mc-inverso-logout-64:hover { background-position: -1664px 0 }
.mc-inverso-computador-64:hover { background-position: -1728px 0 }
.mc-inverso-calendario-64:hover { background-position: -1792px 0 }
.mc-inverso-relogio-64:hover { background-position: -1856px 0 }
.mc-inverso-local-64:hover { background-position: -1920px 0 }
.mc-inverso-coleta-64:hover { background-position: -1984px 0 }
.mc-inverso-globo-64:hover { background-position: -2048px 0 }
.mc-inverso-teclado-64:hover { background-position: -2112px 0 }
.mc-inverso-liberar-documento-64:hover { background-position: -2176px 0 }
.mc-inverso-configurar-impressora-64:hover { background-position: -2240px 0 }
.mc-inverso-receber-coleta-64:hover { background-position: -2304px 0 }
.mc-inverso-receber-64:hover { background-position: -2368px 0 }
.mc-inverso-banco-64:hover { background-position: -2432px 0 }
.mc-inverso-configurar-banco-64:hover { background-position: -2496px 0 }
.mc-inverso-livro-64:hover { background-position: -2560px 0 }
.mc-inverso-sobre-64:hover { background-position: -2624px 0 }
.mc-inverso-dinheiro-64:hover { background-position: -2688px 0 }
.mc-inverso-circulo-64:hover { background-position: -2752px 0 }
.mc-inverso-terra-64:hover { background-position: -2816px 0 }