{% extends "core/site.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
    .item_3 {
        background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
        color: #777;
    }
    </style>
{% endblock %}

{% block title %}Home &rsaquo; Clientes{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; Clientes{% endblock %}
{% block site_content %}
    <div class="clear clientes_separa_dashs" style="height: 20px">&nbsp;</div>
    <div class="grid_6 prefix_1">
        <a href="{% url clients:labs %}"><img src="{{ STATIC_URL }}core/img/box_laboratorio.png" alt="Laboratórios" /></a>
    </div>
    <div class="grid_6 prefix_1">
        <a href="{% url clients:clinic %}"><img src="{{ STATIC_URL }}core/img/box_clinicas.png" alt="Clínicas" /></a>
    </div>
    <div class="clear clientes_separa_dashs">&nbsp;</div>
    {% comment %}
    <!-- TODO: Comentado para atender aos novos requisitos -->
    <div class="grid_6 prefix_1">
        <a href="{% url clients:office %}"><img src="{{ STATIC_URL }}core/img/box_consultorios.png" alt="Consultórios" /></a>
    </div>
    <div class="grid_6 prefix_1">
        <a href="{% url clients:provider %}"><img src="{{ STATIC_URL }}core/img/box_fornecedores.png" alt="Fornecedores" /></a>
    </div>
    <div class="clear clientes_separa_dashs">&nbsp;</div>
    {% endcomment %}
{% endblock %}