{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Listagem de clientes{% endblock %}
{% block content %}
    <h2>
        Listagem de clientes
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url clients:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url clients:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url clients:create %}'"
               value="+ Novo cliente" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Nome</td>
                <td>Localidade</td>
                <td>Link</td>
                <td>Email</td>
                <td>Tipo</td>
                <td>Editar</td>
                <td>Excluir</td>
                <td>Ver</td>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if client.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td><a href="{% url clients:detail client.pk %}">{{ client.name }}</a></td>
                    <td>{{ client.locality }}</td>
                    <td><a href="{{ client.link }}" target="_blank">{{ client.link|slice:":25" }}</a>...</td>
                    <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>
                    <td>
                        {% if client.client_type == 'L' %}
                            Laboratório
                        {% endif %}
                        {% if client.client_type == 'C' %}
                            Clínica
                        {% endif %}
                        {% if client.client_type == 'O' %}
                            Consultório
                        {% endif %}
                        {% if client.client_type == 'F' %}
                            Fornecedor
                        {% endif %}
                    </td>
                    <td><a href="{% url clients:update client.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url clients:delete client.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                    <td><a href="{{ MEDIA_URL }}{{ client.image }}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=clients.count %}
                <tr>
                    <td colspan="9" style="text-align: right; font-weight: bold; color: green;">{{ total }} cliente{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
