{% extends "core/site.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
        .item_41 {
            background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
            color: #777;
        }
    </style>
{% endblock %}

{% block title %}Home &rsaquo; Distribuidores{% endblock %}

{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; Distribuidores{% endblock %}
{% block site_content %}

    <div class="clear"></div>
    <div class="grid_13" style="margin: 0; padding: 0">

    <table class="clients_skeleton">
    {% for client in distributors %}
        {% include "snippets/distributors.html" %}
    {% endfor %}
    </table>

    </div>
    <div class="grid_3" style="padding: 0; margin: 0; float: right;">

        <table class="table_states">
            <tr>
                <td style="padding: 5px 10px">
                    <strong>Por estado:</strong>
                </td>
            </tr>

            <tr class="todos" style="background: #eee">
                <td style="padding: 5px 10px">
                    <a href="{% url distributor:index %}">Todos</a>
                </td>
            </tr>

            {% include "snippets/by_state.html" %}

        </table>
        <br />
    </div>
    
{% endblock %}