{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
    div.change_passwd_reqs {
        background: #ffff99;
        font-size: 0.9em;
        padding: 20px 10px 1px 10px;
        border-top: solid 1px #ddd;
        color: #333;
    }
    div.change_passwd_reqs h5 {
        margin: 0 0 5px 15px;
    }
    div.change_passwd_reqs ul li {
        list-style-type: square;
    }
    /* jQuery PSStrength Password */
    .pstrength-minchar {
        margin-bottom: 7px;
        font-size : 10px;
    }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.pstrength-1.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(":password:visible:first").focus();
            $('#id_new_password1').pstrength();
            // Elemento para restringir a largura da barra
            $(".pstrength-bar").closest("td").wrapInner("<div style='width: 185px;' />");
        });
    </script>
{% endblock %}

{% block title %}Alterar senha{% endblock %}

{% block content %}

    <h2>Alterar senha</h2>

    <div style="padding: 20px 10px 0 10px">

        {% include "snippets/message.html" %}
        {{ form.non_field_errors }}

        <form method="post">{% csrf_token %}
            <table>
                {% include "snippets/form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Salvar" style="color: green; font-weight: bold;" />
                        <input type="button" onclick="document.location='{% url base:manager %}'" value="Cancelar" style="color: #CC3434; font-weight: bold;" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
    <div class="change_passwd_reqs">
        <h5>A senha deve conter no mínimo:</h5>
        <ul>
            <li>6 caracteres</li>
            <li>1 número</li>
            <li>1 letra em caixa baixa</li>
            <li>1 letra em caixa alta</li>
            <li>1 caractere especial. Ex: @, #, $, &</li>
        </ul>
    </div>
{% endblock %}
