{% extends "base/index.html" %}

{% block title %}Senha alterada{% endblock %}

{% block content %}
    <h2>Senha alterada com sucesso</h2>
    <p><a href="{% url base:manager %}">Retornar para o gerenciador.</a></p>
{% endblock %}
