{% extends "base/index.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
    .portlet_conteudo {
        min-height: 133px;
    }
    .recaptcha_input_area_text {
        text-transform: none !important;
    }
    </style>
    <script type="text/javascript">
    $(function(){

        // Helper para criação de cookies
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        // Helper para leitura de cookies
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        // Helper para exclusão de cookies
        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        var form_auth_login = $("div.conteudo_suporte_online form");
        form_auth_login.append('<input type="hidden" name="ip" id="id_ip" value="{{ client_address }}">');
        form_auth_login.append('<input type="hidden" name="hostname" id="id_hostname" value="{{ hostname }}">');
        form_auth_login.append('<input type="hidden" name="counter_captcha" id="id_counter_captcha">');

        {% if user.is_authenticated %}
            eraseCookie("client_address");
            eraseCookie("counter_captcha");
        {% else %}
            var counter_captcha = readCookie("counter_captcha");
            var int_cc = parseInt(counter_captcha);
            if (counter_captcha){
                int_cc ++;
                createCookie("counter_captcha", int_cc);
                $("#id_counter_captcha").val(readCookie("counter_captcha"));
            } else {
                createCookie("counter_captcha", 1);
                $("#id_counter_captcha").val(readCookie("counter_captcha"));
            }
        {% endif %}

    });
    </script>
{% endblock %}

{% block title %}Entrar{% endblock %}

{% block login %}
    <form method="post">{% csrf_token %}
        <div class="text_field_suporte">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="text_field_suporte">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        {% if form.recaptcha %}
            <div style="margin-top: 60px; margin-left: 20px;">
                {{ form.recaptcha }}
            </div>
        {% endif %}
        <div class="toolbar_suporte">
            <input type="submit" value="Entrar" class="btn_submit_suporte" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if form.errors %}
    <span style="display: block; margin: -10px 0 5px 5px; width: 580px;">
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

        <ul class="errorlist">
            {% for field in form %}
                {% if field.errors %}
                    <li>O campo "<b>{{ field.label_tag }}</b>" é obrigatório.</li>
                {% endif %}
            {% endfor %}
        </ul>
    </span>
    {% endif %}
{% endblock %}