{% for state in new_state_list %}
    <tr class="{{ state.locality|slugify }}">
        <td style="padding: 5px 10px">
            <a href="?locality={{ state.locality }}"><img width="32" height="23" style="border: solid 1px #ddd" src="{{ STATIC_URL }}core/img/flag-{{ state.locality|slugify }}.png" alt="{{ state.locality }}" /></a>
            <a href="?locality={{ state.locality }}">
                {{ state.locality }}
            </a>
        </td>
    </tr>
{% endfor %}