{% for item in state_list %}
    <tr class="{{ item.state|slugify }}">
        <td style="padding: 5px 10px">
            <a href="?state={{ item.state|slugify }}"><img width="32" height="23" style="border: solid 1px #ddd" src="{{ STATIC_URL }}core/img/flag-{{ item.state|slugify }}.png" alt="{{ item.state }}" /></a>
            <a href="?state={{ item.state|slugify }}">
                {{ item.state }}
            </a>
        </td></tr>
{% endfor %}