{% load core_extras %}
<style type="text/css">
    .item_3 {
        background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
        color: #777;
    }
</style>
<table class="clients_skeleton">
    <tr><td>
        <!-- Logo com/sem URL -->
        {% if client.link %}
            <a href="{{ client.link }}" target="_blank">
                <img src="{{ client.image.url }}" alt="{{ client.name }}" width="99" height="63" />
            </a>
        {% else %}
            <img src="{{ client.image.url }}" alt="{{ client.name }}" width="99" height="63" />
        {% endif %}
    </td><td>
        <strong style="font-size: 1.2em;">{{ client.name }}</strong><br />
        <!-- Com/sem localidade -->
        {% if client.locality %}
            <span class="locality">{{ client.locality }}</span>
        {% else %}
            <span class="locality">Sem localidade cadastrada</span>
        {% endif %}
        {% if client.phone %}-
            <img style="margin-top: -3px" src="{{ STATIC_URL }}core/img/phone.png" alt="Fone" width="16" height="16" />
            <span>{{ client.phone|br_phone_format }}</span>
        {% endif %}
        <div>
            <!-- Link -->
            {% if client.link %}
                <a href="{{ client.link }}" target="_blank">Site</a> -
            {% else %}
                <span class="disabled_color">Site</span> -
            {% endif %}
            <!-- Email -->
            {% if client.email %}
                <a href="mailto:{{ client.email }}">Email</a> -
            {% else %}
                <span class="disabled_color">Email</span> -
            {% endif %}
            <!-- Mapa -->
            {% if client.map %}
                <a href="{{ client.map }}" target="_blank">Mapa</a>
            {% else %}
                <span class="disabled_color">Mapa</span>
            {% endif %}
        </div>
    </td></tr>
</table>