<table style="margin: 10px">
    <tr>
        <td>
            <table class="detail">
            {% for k in field_keys %}
                <tr><th align="left" nowrap="nowrap">{{ k|capfirst }}</th></tr>
            {% endfor %}
            </table>
        </td>
        <td>
            <table class="detail">
            {% for v in field_values %}
                {% if v != '' %}
                    <tr><td>{{ v|safe|slice:":110"|truncatewords:"14" }}</td></tr>
                {% else %}
                    <tr><td style="color: #999; font-style: italic;">Não preenchido</td></tr>
                {% endif %}
            {% endfor %}
            </table>
        </td>
    </tr>
</table>