{% load core_extras %}

<tr><td>
    <!-- Logo com/sem URL -->
    {% if client.link %}
        <a href="{{ client.link }}" target="_blank">
            <img src="{{ client.image.url }}" alt="{{ client.name }}" width="99" height="63" />
        </a>
    {% else %}
        <img src="{{ client.image.url }}" alt="{{ client.name }}" width="99" height="63" />
    {% endif %}
</td><td style="padding: 10px">
    <strong style="font-size: 1.2em;">{{ client.name }}</strong><br />
    <!-- Cidade e Estado -->
    <span class="locality">
        {% comment %}{% if client.address %}{{ client.address }} - {% endif %}{% endcomment %}
        {{ client.city }} / {{ client.state }}
        {% if client.phone %}-
            <img style="margin-top: -3px" src="{{ STATIC_URL }}core/img/phone.png" alt="Fone" width="16" height="16" />
            <span>{{ client.phone|br_phone_format }}</span>
        {% endif %}
    </span>
    <div>
        {% if client.email %}
            <a href="mailto:{{ client.email }}"><img src="{{ STATIC_URL }}core/img/email.png" alt="Email" width="26" height="14" /></a>
            <a href="mailto:{{ client.email }}">{{ client.email }}</a>
        {% endif %}
        {% comment %}
        <!-- Link -->
        {% if client.link %}
            <a href="{{ client.link }}" target="_blank">Site</a> -
        {% else %}
            <span class="disabled_color">Site</span> -
        {% endif %}
        <!-- Email -->
        {% if client.email %}
            <a href="mailto:{{ client.email }}">Email</a> -
        {% else %}
            <span class="disabled_color">Email</span> -
        {% endif %}
        <!-- Mapa -->
        {% if client.map %}
            <a href="{{ client.map }}" target="_blank">Mapa</a>
        {% else %}
            <span class="disabled_color">Mapa</span>
        {% endif %}
        {% endcomment %}
        <!-- Telefone -->
    </div>
</td><td style="width: 220px">
    {% if client.product_set.count %}
    <strong style="font-size: 11px">Distribuidor:</strong><br />
    <div>
        {% for product in client.product_set.all %}
            <a href="{{ product.get_absolute_url }}" style="text-decoration: none">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" height="40" />
            </a>
        {% endfor %}
    </div>
    {% endif %}
</td></tr>
