{% for field in form %}
    {% if field.errors %}
        <tr><td>&nbsp;</td><td>{{ field.errors }}</td></tr>
    {% endif %}
    <tr>
        <td style="text-align: right; padding: 4px">{{ field.label_tag }}</td>
        <td>{{ field }}</td>
    </tr>
    {% if field.help_text %}
        <tr>
            <td>&nbsp;</td>
            <td style="font-size: 0.8em; color: #888; padding-left: 2px">{{ field.help_text }}</td>
        </tr>
    {% endif %}
{% endfor %}