{% load core_extras %}
<style type="text/css">
    .item_4 {
        background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
        color: #777;
    }
</style>

<table class="clients_skeleton">
    <tr><td style="border-right: dotted 1px #ddd; width: 160px;">
        {% if partner.link %}
            <a href="{{ partner.link }}" target="_blank">
                <img src="{{ partner.image.url }}" alt="{{ partner.name }}" width="160" height="95" />
            </a>
        {% else %}
            <img src="{{ partner.image.url }}" alt="{{ partner.name }}" width="160" height="95" />
        {% endif %}
    </td><td style="padding: 10px;">
        <strong>{{ partner.name }}</strong><br />
        {% if partner.locality %}
            <span class="locality">{{ partner.locality }}</span><br />
        {% else %}
            <span class="locality">Sem localidade cadastrada</span>
        {% endif %}
        <span class="description">{{ partner.description }}</span>
        <div>
            <!-- Link -->
            {% if partner.link %}
                <a href="{{ partner.link }}" target="_blank">Site</a> -
            {% else %}
                <span class="disabled_color">Site</span> -
            {% endif %}
            <!-- Email -->
            {% if partner.email %}
                <a href="mailto:{{ partner.email }}">Email</a> -
            {% else %}
                <span class="disabled_color">Email</span> -
            {% endif %}
            <!-- Telefone -->
            {% if partner.phone %}
                <span class="fone">Fone:</span> <span>{{ partner.phone|br_phone_format }}</span>
            {% else %}
                <span class="disabled_color">Fone</span>
            {% endif %}
        </div>
    </td></tr>
</table>
