/**
 * Created by ND Engenharia e Software.
 * User: Mario Chaves <mario@nd.com.br>, <macndesign@gmail.com>
 * Date: 15/06/11
 * Time: 11:56
 * To change this template use File | Settings | File Templates.
 */

table.detail tr td, table.detail tr th {
    padding: 3px;
}
table.detail tr th {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}
.button_bar {
    padding-top: 5px;
}

/* messages */
ul.messages {
    background: #ffff99;
}
ul.messages, ul.errorlist {
    padding: 5px;
    margin: 0;
    list-style: none;
}
ul.errorlist li {
    color: #CC3434;
    margin: 0;
}
li.success {
    color: green;
    font-weight: bold;
    margin: 0;
}
li.error {
    color: #CC3434;
    font-weight: bold;
    margin: 0;
}
div.message_wrap ul.messages {
    margin: 20px 10px 0 10px;
}