{% extends "core/site.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
    .item_5 {
        background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
        color: #777;
    }
    .trabalhe-conosco {
        float:right;
        margin-right:5px;
        text-decoration: none;
        font-size: 0.88em;
        
        /* gradient */
        display: inline-block;
        *display: inline;
        padding: 4px 12px;
        margin-bottom: 0;
        *margin-left: .3em;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #cccccc;
        *border: 0;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
        *zoom: 1;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
              box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #006dcc;
        *background-color: #0044cc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(to bottom, #0088cc, #0044cc);
        background-repeat: repeat-x;
        border-color: #0044cc #0044cc #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
    
    .trabalhe-conosco:hover,
    .trabalhe-conosco:focus,
    .trabalhe-conosco:active,
    .trabalhe-conosco.active,
    .trabalhe-conosco.disabled,
    .trabalhe-conosco[disabled] {
      color: #ffffff;
      background-color: #0044cc;
      *background-color: #003bb3;
    }
    </style>
{% endblock %}

{% block title %}Home &rsaquo; Contatos{% endblock %}
{% block site_title %}
    <a href="{% url base:homepage %}">Home</a> &rsaquo; Contatos
    <a href="http://dh.nd.com.br:8080/fortesrh/externo/prepareLogin.action?empresaId=2" class="trabalhe-conosco">Trabalhe conosco</a>
{% endblock %}
{% block site_content %}
    <div class="grid_9">
        {% include "snippets/message.html" %}
        {{ form.non_field_errors }}

        <form action="." method="POST">{% csrf_token %}
            <table>
                {% include "snippets/form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Enviar" style="color: green; font-weight: bold;" />
                        <input type="button" onclick="document.location='{% url base:homepage %}'" value="Cancelar" style="color: #CC3434; font-weight: bold;" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="grid_6">
        <div class="maps barbara">
            <iframe
                    width="360"
                    height="320"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=R.+B%C3%A1rbara+de+Alencar,+1370+-+Aldeota,+Fortaleza+-+CE,+60140-000&amp;aq=0&amp;sll=-14.239424,-53.186502&amp;sspn=45.511464,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+B%C3%A1rbara+de+Alencar,+1370+-+Aldeota,+Fortaleza+-+Cear%C3%A1,+60140-000&amp;z=14&amp;ll=-3.738623,-38.512244&amp;output=embed"></iframe><br />
            <small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+B%C3%A1rbara+de+Alencar,+1370+-+Aldeota,+Fortaleza+-+CE,+60140-000&amp;aq=0&amp;sll=-14.239424,-53.186502&amp;sspn=45.511464,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=R.+B%C3%A1rbara+de+Alencar,+1370+-+Aldeota,+Fortaleza+-+Cear%C3%A1,+60140-000&amp;z=14&amp;ll=-3.738623,-38.512244" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
        </div>
        <div class="maps tiburcio">
            <iframe
                    width="360"
                    height="320"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Tib%C3%BArcio+Cavalcante,+2594,+Aldeota&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=30.657205,55.634766&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Tib%C3%BArcio+Cavalcante,+2594+-+Dion%C3%ADsio+Torres,+Fortaleza+-+Cear%C3%A1,+60125-101&amp;ll=-3.747762,-38.506414&amp;spn=0.007794,0.013583&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
            <small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Tib%C3%BArcio+Cavalcante,+2594,+Aldeota&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=30.657205,55.634766&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Tib%C3%BArcio+Cavalcante,+2594+-+Dion%C3%ADsio+Torres,+Fortaleza+-+Cear%C3%A1,+60125-101&amp;ll=-3.747762,-38.506414&amp;spn=0.007794,0.013583&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
        </div>
        <div class="maps morumbi">
            <iframe
                    width="360"
                    height="320"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;q=Av.+Roque+Petroni+J%C3%BAnior,+1089+-+Itaim+Bibi,+S%C3%A3o+Paulo,+04707-000&amp;aq=&amp;sll=-3.744613,-38.506093&amp;sspn=0.007794,0.013583&amp;ie=UTF8&amp;geocode=FZuPl_4dOnI3_Q&amp;split=0&amp;hq=&amp;hnear=Av.+Roque+Petroni+J%C3%BAnior,+1089+-+Itaim+Bibi,+S%C3%A3o+Paulo,+04707-000&amp;z=14&amp;ll=-23.621733,-46.697926&amp;output=embed"></iframe><br />
            <small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;q=Av.+Roque+Petroni+J%C3%BAnior,+1089+-+Itaim+Bibi,+S%C3%A3o+Paulo,+04707-000&amp;aq=&amp;sll=-3.744613,-38.506093&amp;sspn=0.007794,0.013583&amp;ie=UTF8&amp;geocode=FZuPl_4dOnI3_Q&amp;split=0&amp;hq=&amp;hnear=Av.+Roque+Petroni+J%C3%BAnior,+1089+-+Itaim+Bibi,+S%C3%A3o+Paulo,+04707-000&amp;z=14&amp;ll=-23.621733,-46.697926" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
        </div>
        <div class="maps florida">
            <iframe
                    width="360"
                    height="320"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Orlando+FL+USA+121+S.+Orange+Avenue&amp;aq=&amp;sll=28.541308,-81.378726&amp;sspn=0.006626,0.011362&amp;ie=UTF8&amp;hq=&amp;hnear=121+S+Orange+Ave,+Orlando,+Orange,+Florida+32801&amp;ll=28.541308,-81.378726&amp;spn=0.006626,0.011362&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
            <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Orlando+FL+USA+121+S.+Orange+Avenue&amp;aq=&amp;sll=28.541308,-81.378726&amp;sspn=0.006626,0.011362&amp;ie=UTF8&amp;hq=&amp;hnear=121+S+Orange+Ave,+Orlando,+Orange,+Florida+32801&amp;ll=28.541308,-81.378726&amp;spn=0.006626,0.011362&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
        </div>
    </div>
    <div class="clear">&nbsp;</div>
    <h2 class="portlet_conteudo" style="padding-left: 5px">Endereços</h2><br />
    <div class="grid_5">
        <h5 style="margin-bottom: 5px">Fortaleza / CE / BR</h5>
        <a href="javascript:void();" class="tiburcio">R. Tibúrcio Cavalcante, 2594, Aldeota</a><br />
        Fone: (85) 3392-4342
        <div class="clear" style="height: 10px">&nbsp;</div>
        <a href="javascript:void();" class="barbara">R. Bárbara de Alencar, 1370, Centro</a><br />
        Fone: (85) 3021-1425
    </div>
    <div class="grid_5">
        <h5 style="margin-bottom: 5px">São Paulo / SP / BR</h5>
        <a href="javascript:void();" class="morumbi">Centro Profissional Morumbi Shopping - Sala 314</a><br />
        Av. Roque Petroni Júnior, 1089<br />
        Fone: (11) 3033-9721
    </div>
    <div class="grid_5">
        <h5 style="margin-bottom: 5px">Orlando / FL / USA</h5>
        <a href="javascript:void();" class="florida">121 S. Orange Avenue, Suite 1500 (#17), zip 32801</a>
    </div>
    <div class="clear" style="height: 20px">&nbsp;</div>
{% endblock %}