<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Contato: ND Engenharia e Software</title>
</head>
<body style="font-family: Arial, Verdana, Tahoma, sans-serif;">
<h2 style="color: #2c6ed5;">Contato: ND Engenharia e Software</h2>
<div>
    <h3 style="color: green; margin-bottom: 0; padding-bottom: 0;">Dados:</h3>
    Nome: {{ name }}<br />
    Email: {{ email }}<br />
    Assunto: <strong style="color: #993300;">{{ subject }}</strong>
</div>
<div>
    <h3 style="color: green; margin-bottom: 0; padding-bottom: 0;">Mensagem:</h3>
    {{ message }}
</div>
<br />
<div style="border-top: dotted 1px #ccc;"><table>
    <tr>
        <td style="padding-right: 5px;"><img src="https://s3-sa-east-1.amazonaws.com/ndsite/static/core/img/logo_nd_thumb.jpg" alt="Logo da ND" /></td>
        <td style="font-size: 0.8em; border-left: dotted 1px #ccc; padding-left: 8px; font-weight: bold; color: #aaa;">
            &copy; 2011 ND Engenharia e Software<br />
            Bárbara de Alencar, 1370, Aldeota - Fortaleza/CE
        </td>
    </tr>
</table></div>
</body>
</html>