{% extends "base/index.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
        .user_highlight {
            text-transform: uppercase;
            color: #dc143c;
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block title %}Usuário sem permissão{% endblock %}

{% block content %}
    <h2>Usuário <span class="user_highlight">{{ user }}</span> sem permissão</h2>
    <p>
        O usuário não tem permissão para executar essa ação.<br />
        <a href="javascript:history.back();">Volte para a página anterior</a> ou
        <a href="{% url login %}">efetue o login</a> com um usuário que tenha essa permissão.
    </p>
{% endblock %}
