{% extends 'base.html' %}

{% block extra_head %}
    {% include "snippets/site_main.html" %}
    <style type="text/css">
    .clientes_separa_dashs {
        height: 50px;
    }
    .portlet_conteudo {
        background: #f9f9f9 url("{{ STATIC_URL }}core/img/bg_container_sec.png") repeat-x;
    }
    .portlet_conteudo h2 {
        font-family: "Trebuchet MS", Arial, sans-serif;
        color: #aaa;
    }
    /* Base detail clients */
    .clients_skeleton {
        border-bottom: dotted 1px #ddd;
        margin-bottom: 10px;
        background: #fff;
        width: 100%;
        -moz-box-shadow: 1px 1px #ddd;
        -webkit-box-shadow: 1px 1px#ddd;
        box-shadow: 1px 1px #ddd;
    }
    .clients_skeleton tr {
        background: white;
        border-bottom: dotted 1px #ddd;
    }
    .clients_skeleton tr td:first-child {
        padding: 9px;
        width: 109px;
    }
    .clients_skeleton tr td:last-child {
        padding: 10px 5px;
    }
    .clients_skeleton tr td:last-child strong {
        font-size: 2em;
        font-family: "Trebuchet MS", Arial, sans-serif;
    }
    .clients_skeleton tr td:last-child span.locality {
        font-weight: bold; color: #777;
    }
    .clients_skeleton tr td:last-child div,
    .clients_skeleton tr td:last-child div span {
        color: #777;
        font-style: italic;
    }
    .clients_skeleton tr td:last-child div a,
    .clients_skeleton tr td:last-child div span {
        font-size: 0.9em;
    }
    .clients_skeleton tr td:last-child div span.fone {
        font-weight: bold; color: green;
    }
    .disabled_color {
        color: #ccc;
        cursor: default;
    }
    .table_states {
        margin-bottom: 0;
        width: 100%;
        margin-left: 10px;
    }
    </style>
    <script type="text/javascript">
        ($(function (){

            // Mapa inicial
            $("div.maps").attr("style", "height: 0; overflow: hidden");
            {% if SP %}
                $("div.morumbi").removeAttr("style");
            {% elif FL %}
                $("div.florida").removeAttr("style");
            {% else %}
                $("div.tiburcio").removeAttr("style");
            {% endif %}
            $('a.barbara').click(function(){
                $("div.maps").attr("style", "height: 0; overflow: hidden");
                $("div.barbara").removeAttr("style");
            });
            $('a.tiburcio').click(function(){
                $("div.maps").attr("style", "height: 0; overflow: hidden");
                $("div.tiburcio").removeAttr("style");
            });
            $('a.morumbi').click(function(){
                $("div.maps").attr("style", "height: 0; overflow: hidden");
                $("div.morumbi").removeAttr("style");
            });
            $('a.florida').click(function(){
                $("div.maps").attr("style", "height: 0; overflow: hidden");
                $("div.florida").removeAttr("style");
            });

            // Efeito de filtro de estados
            var locale = window.location.toString();
            var state = '.' + locale.split('=')[1].toLowerCase();
            $('table.table_states').find(state).css('background', '#eee').find('a').css({'text-decoration': 'none', 'color': '#aaa'});
            $('table.table_states').find('tr.todos').removeAttr('style');

        }))(jQuery);
    </script>
{% endblock extra_head %}

{% block title %}Site{% endblock %}
{% block content %}
    <div class="grid_16 portlet_conteudo">
        <h2>{% block site_title %}Site title{% endblock %}</h2>
        <div style="padding: 20px 10px 0 10px">
            {% block site_content %}Conteúdo{% endblock %}
        </div>
    </div>
{% endblock %}