{% extends "base/index.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
        ul { list-style: none; margin-bottom: 0; border-top: dotted 1px #ccc }
        li { margin-left: 0 }
    </style>
{% endblock %}

{% block title %}
    {% if product %}
        Alterar Serviço
    {% else %}
        Cadastrar Serviço
    {% endif %}
{% endblock %}

{% block header %}
    {% if product %}
        Alterar Serviço
    {% else %}
        Cadastrar Serviço
    {% endif %}
{% endblock %}

{% block content %}

    {% if product %}
        <h2>Alterar Serviço</h2>
    {% else %}
        <h2>Cadastrar novo Serviço</h2>
    {% endif %}

    <div style="padding: 20px 10px 0 10px">

        {% include "snippets/message.html" %}
        {{ form.non_field_errors }}

        <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
            <table>
                {% include "snippets/form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Salvar" style="color: green; font-weight: bold;" />
                        <input type="button" onclick="document.location='{% url products:list %}'" value="Cancelar" style="color: #CC3434; font-weight: bold;" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
{% endblock %}
