{% extends "core/site.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
        .clients_skeleton {
            float: left;
            width: 50%;
            height: 225px;
            border-left: dotted 1px #ddd;
        }
        .clients_skeleton:hover strong {
            color: #2C6ED5;
            text-decoration: none;
        }
        .clients_skeleton:hover span.locality {
            color: #777;
            text-decoration: underline;
        }
        .clients_skeleton tr td:first-child {
            padding: 9px;
            width: 60px;
        }
        .clients_skeleton tr td:last-child strong {
            display: block;
            border-bottom: dashed 1px #ddd;
            margin-bottom: 7px;
        }
        .item_2 {
            background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
            color: #777;
        }
    </style>
{% endblock %}

{% block title %}Home &rsaquo; Serviços{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; Serviços{% endblock %}
{% block site_content %}

    {% for product in products %}
        <table class="clients_skeleton" style="cursor: pointer" onclick="document.location='{{ product.get_absolute_url }}'">
            <tr><td>
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.thumb.url }}" alt="{{ product.name }}" width="60" height="60" />
                </a>
            </td><td>
                <strong>{{ product.name }}</strong>
                <span class="locality">
                    {{ product.short_description }}&nbsp;<a href="{{ product.get_absolute_url }}">leia mais</a>
                </span>
            </td></tr>
        </table>
    {% empty %}
        <p>Não há serviço cadastrado</p>
    {% endfor %}
    
{% endblock %}