{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Listagem de Serviços{% endblock %}
{% block content %}
    <h2>
        Listagem de Serviços
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url products:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url products:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url products:create %}'"
               value="+ Novo Serviço" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Nome</td>
                <td>Logo</td>
                <td>Descrição curta</td>
                <td>Editar</td>
                <td>Excluir</td>
                <td>Ver</td>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if product.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td><a href="{% url products:detail product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.image|striptags|slice:"9:" }}</td>
                    <td>{{ product.short_description|truncatewords:"28" }}</td>
                    <td><a href="{% url products:update product.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url products:delete product.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                    <td><a href="{{ MEDIA_URL }}{{ product.image }}">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=products.count %}
                <tr>
                    <td colspan="7" style="text-align: right; font-weight: bold; color: green;">{{ total }} Serviço{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
