{% extends "core/site.html" %}

{% block extra_head %}
    {{ block.super }}
    <style type="text/css">
    .clients_skeleton td:last-child {
        padding-left: 20px;
    }
    .clients_skeleton td:first-child {
        background: #fff url("{{ STATIC_URL }}core/img/border_table_dobradice.png") bottom left scroll no-repeat;
        border-right: dotted 1px #ddd;
    }
    .clients_skeleton td:last-child strong {
        border-bottom: solid 3px #d7d7d7;
        margin-bottom: 15px;
        display: block;
    }
    .item_2 {
        background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
        color: #777;
    }
    </style>
{% endblock %}

{% block title %}Home &rsaquo; Serviços &rsaquo; {{ product.name }}{% endblock %}
{% block site_title %}
    <a href="{% url base:homepage %}">Home</a> &rsaquo;
    <a href="{% url base:services %}">Serviços</a> &rsaquo;
    {{ product.name }}
{% endblock %}
{% block site_content %}

    <table class="clients_skeleton">
        <tr><td style="width: 349px;">
            {% if product.link %}<a href="{{ product.link }}">{% endif %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="349" />
            {% if product.link %}</a>{% endif %}
        </td><td style="padding: 15px;">
            <strong>{{ product.name }}</strong>
            <span class="locality">
                {{ product.description|safe|linebreaksbr }}
            </span>
        </td></tr>
    </table>

{% endblock %}