{% extends "core/site.html" %}
{% block extra_head %}
    {{ block.super }}
        <style type="text/css">
        div.about_nd {
            font-family: "Trebuchet MS", Arial, sans-serif;
            font-size: 1.2em;
            color: #777;
        }
        div.about_nd p {
            display: block;
            padding-bottom: 10px;
            border-bottom: dotted 1px #ddd;
        }
        div.about_nd div {
            text-align: center;
        }
        div.about_nd div strong {
            font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
        }
        .item_1 {
            background: url("{{ STATIC_URL }}core/img/menu_bg_btn_v2.png") top center no-repeat;
            color: #777;
        }
        </style>
{% endblock %}
{% block title %}Home &rsaquo; Sobre{% endblock %}
{% block site_title %}
    <a href="{% url base:homepage %}">Home</a> &rsaquo;
    {% if about %}
        {{ about.title }}
    {% else %}
        <p>Não há conteúdo cadastrado.</p>
    {% endif %}
{% endblock %}
{% block site_content %}
    <div class="about_nd">
    {% if about %}
        {{ about.body|safe }}
    {% else %}
        <p>Não há conteúdo cadastrado.</p>
    {% endif %}
    </div>
<div class="clear" style="height: 10px">&nbsp;</div>

{% endblock %}