{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Listagem de sobre{% endblock %}
{% block content %}
    <h2>
        Listagem de sobre
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url about:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url about:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url about:create %}'"
               value="+ Novo sobre" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Título</td>
                <td>Conteúdo</td>
                <td>Data</td>
                <td>Editar</td>
                <td>Excluir</td>
            </tr>
        </thead>
        <tbody>
            {% for about in abouts %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if about.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td><a href="{% url about:detail about.pk %}">{{ about.title }}</a></td>
                    <td>{{ about.body|truncatewords:"12" }}</td>
                    <td>{{ about.created_date }}</td>
                    <td><a href="{% url about:update about.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url about:delete about.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=abouts.count %}
                <tr>
                    <td colspan="6" style="text-align: right; font-weight: bold; color: green;">{{ total }} sobre{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
