<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ND Engenharia e Software - {% block title %}Desenvolvimento de softwares.{% endblock %}</title>
    <meta name="description" content="A ND Engenharia e Software desenvolve soluções tecnológicas para a área de saúde.">
	<meta name="author" content="Mário Chaves [mario@nd.com.br]">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/text.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/960.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/default.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/nivo-slider/nivo-slider.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/nivo-slider/nivo-slider-custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/colorbox/colorbox.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.cycle.all.latest.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/modernizr-2.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/respond.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/default.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container_16">

    <div class="clear" style="height: 20px">&nbsp;</div>

    <div class="grid_12">

        <div class="grid_5" style="margin: 0"><a href="{% url base:homepage %}" class="logo_nd"><h1>ND Engenharia e Software</h1></a></div>
        <div class="grid_1 separa_logo_patrocinio" style="margin: 0">&nbsp;</div>
        <div class="grid_3" style="margin: 0" id="partners">
            {% for partner in partners %}
                <a href="{{ partner.link }}" target="_blank">
                    <img src="{{ partner.image.url }}"
                        alt="{{ partner.name }}"
                        title="{{ partner.name }} parceiro em {% if partner.partner_type == 'T' %}Tecnologia{% else %}Saúde{% endif %}" />
                </a>
            {% empty %}
                Não há parceiro cadastrado.
            {% endfor %}
        </div>
        <div class="grid_3" style="float: right; margin: 0 20px 0 0">
            <a href="https://www.pulsesaude.com.br/">
                <img src="{{ STATIC_URL }}core/img/pulse-site.png" alt="Pulse Saúde" title="Pulse Saúde">
            </a>
        </div>
        <div class="grid_1 separa_logo_patrocinio" style="margin: 0; float: right;">&nbsp;</div>
        <div class="clear"></div>

        <div class="grid_12 menu" style="margin: 20px 0 0 0">
            <a href="{% url base:sobre %}" class="item_menu primeiro_item_menu item_1">Empresa</a>
            <a href="{% url base:services %}" class="item_menu item_2">Serviços</a>
            <a href="{% url base:clientes %}" class="item_menu item_3">Clientes</a>
            <!-- Trocar a url por partners:index quando quiser categorizar -->
            <a href="{% url base:parceiros %}" class="item_menu item_4">Parceiros</a>
            <a href="{% url base:distribuidores %}" class="item_menu item_41">Distribuidores</a>
            <a href="{% url base:contact %}" class="item_menu ultimo_item_menu item_5">Contatos</a>
        </div>
        <div class="clear"></div>
        <div class="grid_1 sombra_esquerda">&nbsp;</div>
        <div class="grid_10 sombra_conteudo" style="width: 600px !important;">&nbsp;</div>
        <div class="grid_1 sombra_direita">&nbsp;</div>
        <div class="clear"></div>

    </div>

    <div class="grid_4">

        <div class="grid_4 titulo_portlet_verde" style="margin: 0">
            <b>Suporte On-line</b>
        </div>
        <div class="clear"></div>
        <div class="grid_4 conteudo_suporte_online" style="margin: 0; position: absolute;">
            <!-- http://link2nd1.nd.com.br:86/Account/LogOn-->
            <form action="http://softlab.nd.com.br:86/Account/LogOn" method="post">
                <div class="text_field_suporte">
                    <label for="usuario">Usuário</label>
                    <input id="usuario" type="text" name="UserName" size="11" />
                </div>
                <div class="text_field_suporte">
                    <label for="senha">Senha</label>
                    <input id="senha" type="password" name="Password" size="11" />
                </div>
                <div class="toolbar_suporte">
                    <!--a href="http://softlab.nd.com.br:86/Account/LogOn" class="link_esqueci_suporte">Esqueci a senha</a-->
                    <input type="submit" value="Entrar" class="btn_submit_suporte" />
                </div>
            </form>
        </div>
        <div class="clear"></div>
        <div class="grid_1 sombra_esquerda sombra_altura_suporte">&nbsp;</div>
        <div class="grid_2 sombra_barra_lateral sombra_altura_suporte" style="width: 120px !important;">&nbsp;</div>
        <div class="grid_1 sombra_direita sombra_altura_suporte">&nbsp;</div>
        <div class="clear"></div>

    </div>

    <div class="grid_16 topo_letreiro">
        <span class="texto_letreiro">
            <span id="letreiro_wn">ND Engenharia e Software - Anuncie aqui.</span>&nbsp;
            <a id="link_letreiro_wn" href="{% url base:homepage %}" target="_blank">leia mais</a>
            <span class="loading_wn" style="float: right; margin-top: -5px;"><img alt="Carregando..." src="{{ STATIC_URL }}core/nivo-slider/img/loading.gif" /></span>
        </span>
        <span class="btn_letreiro">
            <a class="btn_letreiro_anterior" href="javascript:void();">Anterior</a>
            <a class="btn_letreiro_proximo" href="javascript:void();">Próximo</a>
        </span>
    </div>
    <div class="clear"></div>
    <div class="grid_1 sombra_esquerda">&nbsp;</div>
    <div class="grid_14 sombra">&nbsp;</div>
    <div class="grid_1 sombra_direita">&nbsp;</div>
    <div class="clear"></div>

    <div id="content">
    {% block content %}

        <div class="grid_16">
            {% block main_slider %}{% endblock %}
        </div>
        <div class="clear"></div>
        <div class="grid_1 sombra_esquerda">&nbsp;</div>
        <div class="grid_14 sombra">&nbsp;</div>
        <div class="grid_1 sombra_direita">&nbsp;</div>

        <div class="clear"></div><br /><br /><div class="clear"></div>

        <div class="grid_10 portlet_conteudo">
            <h2>
                {% if shortnews %}
                    <a href="{% url base:news %}">Notícias</a>
                {% else %}
                    Notícias
                {% endif %}
            </h2>
            <p style="height: 117px">
                {% if shortnews %}
                    <strong style="font-size: 1.4em">{{ shortnews.title }}</strong>
                    <span style="color: #777; display: block; margin-bottom: 8px;">
                        Por {{ shortnews.author }} em {{ shortnews.news_date }}
                    </span>
                    {{ shortnews.body|safe|truncatewords_html:"30" }}
                    <a href="{% url base:news_detail shortnews.slug %}">leia mais</a>
                {% else %}
                    <strong style="font-size: 1.4em">Não há notícias.</strong>
                {% endif %}
            </p>
        </div>

        <div class="grid_6 portlet_lateral shadow_conteudo" style="height: 178px">
            <a href="https://itunes.apple.com/br/app/pulse-saude/id567740933?mt=8">
                <img src="{{ STATIC_URL }}core/img/pulse-appstore.png" alt="Pulse Saúde" />
            </a>
        </div>
        <div class="clear"></div>

        <div class="grid_1 sombra_esquerda">&nbsp;</div>
        <div class="grid_8 sombra_conteudo" style="width: 500px !important;">&nbsp;</div>
        <div class="grid_1 sombra_direita" style="margin-right: 20px">&nbsp;</div>

        <div class="grid_1 sombra_esquerda">&nbsp;</div>
        <div class="grid_4 sombra_barra_lateral">&nbsp;</div>
        <div class="grid_1 sombra_direita">&nbsp;</div>
        <div class="clear"></div>

        <div class="grid_16 agrupador">&nbsp;</div>
        <div class="clear"></div>

        <div class="venda_direta" style="height: 90px">
            {% block direct_sale %}{% endblock %}
        </div>
        <div class="clear"></div>

        <div class="grid_16 agrupador">&nbsp;</div>
        <div class="clear"></div><br />

        <div class="grid_16 portlet_conteudo">
            <h2>Mapa do site</h2>
            <div class="mapa_site">
                <div class="grid_4 mapa_site_column" style="margin-left: 10px; margin-right: 0">
                    <h3>Serviços</h3>
                    <ul>
                        {% for product in products %}
                            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                        {% empty %}
                            <li>Não há serviços cadstrados</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="grid_4 mapa_site_column" style="margin-left: 0; margin-right: 20px">
                    <h3>Clientes</h3>
                    <ul>
                        <li><a href="{% url clients:labs %}">Laboratórios</a></li>
                        <li><a href="{% url clients:clinic %}">Clínicas</a></li>
                        {% comment %}
                        <li><a href="{% url clients:office %}">Consultórios</a></li>
                        <li><a href="{% url clients:provider %}">Fornecedores</a></li>
                        {% endcomment %}
                    </ul>
                    <h3>Distribuidores</h3>
                    <ul>
                        <li><a href="{% url distributor:index %}">Todos os distribuidores</a></li>
                    </ul>
                </div>
                <div class="grid_4 mapa_site_column" style="margin-left: 0; margin-right: 20px">
                    <h3>Parceiros</h3>
                    <ul>
                        {% for partner in partners %}
                            <li><a href="{% url partners:partner_detail partner.pk %}">{{ partner.name }}</a></li>
                        {% empty %}
                            <li>Não há parceiro cadastrado</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="grid_4 mapa_site_column" style="margin-left: 0; margin-right: 10px">
                    <h3>Contatos</h3>
                    <ul>
                        <li><a href="{% url base:contact %}">Fortaleza CE</a></li>
                        <li><a href="{% url base:contact_sp %}">São Paulo SP</a></li>
                        <li><a href="{% url base:contact_fl %}">Flórida USA</a></li>
                        <li><a href="http://dh.nd.com.br:8080/fortesrh/externo/prepareLogin.action?empresaId=2">Trabalhe conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>

    {% endblock content %}
    </div>

    <div class="clear"></div>

    <div class="grid_1 sombra_esquerda">&nbsp;</div>
    <div class="grid_14 sombra">&nbsp;</div>
    <div class="grid_1 sombra_direita">&nbsp;</div>
    <div class="clear"></div>

    <div class="grid_16 agrupador">&nbsp;</div>
    <div class="clear"></div>

    <div class="grid_16 footer">
        <address>
            <span>
                &copy; 2013 ND Engenharia e Software
            </span>
            <span style="float: right;">
                <a href="{% url base:manager %}">Gerenciador</a> |
                <a href="http://www.nd.com.br">ND</a>
            </span><br /><br />
            <table>
                <tr>
                    <td>São Paulo</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>SP</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Brasil</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Centro Profissional Morumbi Shopping - Sala 314, Av. Roque Petroni Júnior, 1089 | Tel: (11) 3033.9721</td>
                </tr>
                <tr>
                    <td>Fortaleza</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>CE</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Brasil</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Tibúrcio Cavalcante, 2594  |  Tel: (85) 3392.4342  |  Fax: (85) 3392.4342</td>
                </tr>
                <tr>
                    <td>Orlando</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>FL</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>USA</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>121 S. Orange Avenue, Suite 1500 (#17), zip 32801</td>
                </tr>
            </table>
        </address>
    </div>

</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5135944-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
