{% extends "base/index.html" %}

{% block title %}Delete{% endblock %}
{% block header %}Deseja realmente excluir?{% endblock %}
{% block content %}
    <h2>{{ object }}</h2>
    {% include "snippets/detail.html" %}
    <form action="." method="post" style="margin: 10px;">{% csrf_token %}
        <input type="submit" value="Excluir" style="color: #CC3434; font-weight: bold;" />
        <input type="button" onclick="document.location='{% url base:manager %}'" value="Cancelar" style="font-weight: bold;" />
        <input type="button" onclick="history.back()" value="Voltar" style="font-weight: bold; color: green;" />
    </form>
{% endblock %}
