{% extends "base/index.html" %}

{% block title %}Detail{% endblock %}
{% block header %}Detalhes{% endblock %}
{% block content %}
    <h2>{{ object }}</h2>
    {% include "snippets/detail.html" %}
    <div style="margin: 10px">
        <input style="font-weight: bold; color: #CC3434;" type="button" onclick="document.location='{% url base:manager %}'" value="Cancelar" />
        <input style="font-weight: bold;" type="button" onclick="history.back()" value="Voltar" />
    </div>
{% endblock %}
