{% extends 'base.html' %}
{% block extra_head %}
    {% include "snippets/homepage.html" %}
{% endblock extra_head %}

{% block main_slider %}
    <div id="slider" class="nivoSlider">
    {% for slider in sliders %}
        {% if slider.caption == '' and slider.html_caption == '' %}
            {% if slider.url %}<a href="{{ slider.url }}">{% endif %}
                <img src="{{ slider.image.url }}" alt="ND Engenharia e Software" title="ND Engenharia e Software" />
            {% if slider.url %}</a>{% endif %}
        {% endif %}
        {% if slider.caption %}
            {% if slider.url %}<a href="{{ slider.url }}">{% endif %}
                <img src="{{ slider.image.url }}" alt="{{ slider.caption }}" title="{{ slider.caption }}" />
            {% if slider.url %}</a>{% endif %}
        {% endif %}
        {% if slider.html_caption %}
            {% if slider.url %}<a href="{{ slider.url }}">{% endif %}
                <img src="{{ slider.image.url }}" alt="ND Engenharia e Software"  title="#htmlcaption{{ slider.pk }}" />
            {% if slider.url %}</a>{% endif %}
        {% endif %}
    {% empty %}
        <img src="" alt="Não há publicidade cadastrada" title="Não há publicidade cadastrada" />
    {% endfor %}
    </div>
    {% for slider in sliders %}
        {% if slider.html_caption %}
            <div id="htmlcaption{{ slider.pk }}" class="nivo-html-caption">
                {{ slider.html_caption|safe }}
            </div>
        {% endif %}
    {% endfor %}
{% endblock main_slider %}

{% block direct_sale %}

    {% if direct_sales|length_is:"4" %}
        <div class="grid_5" id="direct_sale_pos1">
            {% for sale in direct_sales4 %}
                {% if sale.position == 1 and sale.dimension == '1/4' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_1.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
        <div class="grid_5" id="direct_sale_pos2">
            {% for sale in direct_sales4 %}
                {% if sale.position == 2 and sale.dimension == '1/4' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_1.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
        <div class="grid_3" id="direct_sale_pos3">
            {% for sale in direct_sales4 %}
                {% if sale.position == 3 and sale.dimension == '1/4' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_2.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
        <div class="grid_3" id="direct_sale_pos4">
            {% for sale in direct_sales4 %}
                {% if sale.position == 4 and sale.dimension == '1/4' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_2.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
    {% endif %}

    {% if direct_sales|length_is:"2" %}
        <div class="grid_10" id="direct_sale_pos1">
            {% for sale in direct_sales2 %}
                {% if sale.position == 1 and sale.dimension == '1/2' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_1.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
        <div class="grid_6" id="direct_sale_pos2">
            {% for sale in direct_sales2 %}
                {% if sale.position == 2 and sale.dimension == '1/2' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_1.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
    {% endif %}

    {% if direct_sales|length_is:"1" %}
        <div class="grid_16" id="direct_sale_pos1">
            {% for sale in direct_sales1 %}
                {% if sale.active and sale.position == 1 and sale.dimension == '1/1' %}
                    <a href="{{ sale.link }}">
                        <img src="{{ sale.image.url }}" alt="{{ sale.advertiser }}" />
                    </a>
                {% endif %}
            {% empty %}
                <img src="{{ STATIC_URL }}core/img/banner_1.gif" alt="Anuncie aqui!" />
            {% endfor %}
        </div>
    {% endif %}

{% endblock direct_sale %}