{% load core_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>ND Engenharia e Software - {% block title %}Manager{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/text.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/960.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/default.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}core/manager/default.css" />
    <style type="text/css">
        .item_menu_hover {
            background: url("{{ STATIC_URL }}core/img/menu_bg_btn.png") center no-repeat;
            color: #777;
        }
        ul.site_drop_menu {
            background: white;
            border: solid 1px #ccc;
            position: absolute;
            margin-left: 348px;
            margin-top: 44px;
        }
        ul.site_drop_menu li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul.site_drop_menu li a {
            border-bottom: solid 1px #ccc;
        }
        ul.site_drop_menu li:last-child a {
            border-bottom: none;
        }
        ul.site_drop_menu li a:hover {
            background: #f5f5f5;
        }
        .item_menu_disabled {
            color: #ddd;
            cursor: default;
            border-bottom: solid 1px #ddd;
        }
        .item_menu_disabled:hover {
            color: #ccc;
            background: none;
        }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/jquery.cycle.all.latest.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/modernizr-2.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/respond.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}core/js/default.js"></script>
    <script type="text/javascript">
        $(function(){
            // Função menu drop
            $("ul.site_drop_menu").hide();
            $("a.site_drop").toggle(
                function(){
                    $(this).addClass("item_menu_hover");
                    $("ul.site_drop_menu").show();
                },
                function(){
                    $(this).removeClass("item_menu_hover");
                    $("ul.site_drop_menu").hide();
                }
            );
        });
        // Partners - Parceiros ao lado da logo da ND
        $('#partners').cycle({
            fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
            timeout: 15000,
            pause: 1,
            random: 1
        });
    </script>
    {% block extra_head %}
        <script type="text/javascript">
            $(function(){
                {% if user.is_authenticated %}
                    // Helper para criação de cookies
                    function createCookie(name, value, days) {
                        if (days) {
                            var date = new Date();
                            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                            var expires = "; expires=" + date.toGMTString();
                        }
                        else var expires = "";
                        document.cookie = name + "=" + value + expires + "; path=/";
                    }
                    // Helper para exclusão de cookies
                    function eraseCookie(name) {
                        createCookie(name, "", -1);
                    }
                    eraseCookie("client_address");
                    eraseCookie("counter_captcha");
                {% endif %}

                $(":text:first").focus();
            });
        </script>
    {% endblock %}
</head>
<body>
<div class="container_16">

    <br class="clear" />
    <div class="grid_10">

        <div class="grid_5" style="margin: 0"><a href="{% url base:homepage %}" class="logo_nd"><h1>ND Engenharia e Software</h1></a></div>
        <div class="grid_1 separa_logo_patrocinio" style="margin: 0">&nbsp;</div>
        <div class="grid_3" style="margin: 0" id="partners">
            {% for partner in partners %}
                <a href="{{ partner.link }}">
                    <img src="{{ partner.image.url }}"
                        alt="{{ partner.name }}"
                        title="{{ partner.name }} parceiro em {% if partner.partner_type == 'T' %}Tecnologia{% else %}Saúde{% endif %}" />
                </a>
            {% empty %}
                Não há parceiro cadastrado.
            {% endfor %}
        </div>
        <div class="clear"></div>

        <div class="grid_10 menu" style="margin: 20px 0 0 0">
            {% if user.is_authenticated %}

                {% if perms.core.add_wordnews or perms.core.change_wordnews or perms.core.delete_wordnews %}
                    <a href="{% url wordnews:list %}" class="item_menu primeiro_item_menu">Letreiros</a>
                {% else %}
                    <span class="item_menu primeiro_item_menu item_menu_disabled">Letreiros</span>
                {% endif %}

                {% if perms.core.add_mainslider or perms.core.change_mainslider or perms.core.delete_mainslider %}
                    <a href="{% url mainslider:list %}" class="item_menu">Sliders</a>
                {% else %}
                    <span class="item_menu primeiro_item_menu item_menu_disabled">Sliders</span>
                {% endif %}

                {% if perms.core.add_directsale or perms.core.change_directsale or perms.core.delete_directsale %}
                    <a href="{% url directsale:list %}" class="item_menu">V. Direta</a>
                {% else %}
                    <span class="item_menu primeiro_item_menu item_menu_disabled">V. Direta</span>
                {% endif %}

                {% if perms.core %}
                    <a href="#" class="item_menu site_drop">Site</a>
                {% else %}
                    <span class="item_menu primeiro_item_menu item_menu_disabled">Site</span>
                {% endif %}

                <a href="{% url logout %}" class="item_menu ultimo_item_menu">Sair</a>

            {% else %}
                <a href="{% url login %}" class="item_menu ultimo_item_menu">Entrar</a>
            {% endif %}

            <ul class="site_drop_menu">

                {% if perms.core.add_about or perms.core.change_about or perms.core.delete_about %}
                    <li><a href="{% url about:list %}" class="item_menu">Sobre</a></li>
                {% else %}
                    <li><span class="item_menu primeiro_item_menu item_menu_disabled">Sobre</span></li>
                {% endif %}

                {% if perms.core.add_product or perms.core.change_product or perms.core.delete_product %}
                    <li><a href="{% url products:list %}" class="item_menu">Serviços</a></li>
                {% else %}
                    <li><span class="item_menu primeiro_item_menu item_menu_disabled">Serviços</span></li>
                {% endif %}

                {% if perms.core.add_client or perms.core.change_client or perms.core.delete_client %}
                    <li><a href="{% url clients:list %}" class="item_menu">Clientes</a></li>
                {% else %}
                    <li><span class="item_menu primeiro_item_menu item_menu_disabled">Clientes</span></li>
                {% endif %}

                {% if perms.core.add_distributor or perms.core.change_distributor or perms.core.delete_distributor %}
                    <li><a href="{% url distributor:list %}" class="item_menu">Distribuidores</a></li>
                {% else %}
                    <li><span class="item_menu primeiro_item_menu item_menu_disabled">Distribuidores</span></li>
                {% endif %}

                {% if perms.core.add_partner or perms.core.change_partner or perms.core.delete_partner %}
                    <li><a href="{% url partners:list %}" class="item_menu">Parceiros</a></li>
                {% else %}
                    <li><span class="item_menu primeiro_item_menu item_menu_disabled">Parceiros</span></li>
                {% endif %}

                {% if perms.core.add_shortnews or perms.core.change_shortnews or perms.core.delete_shortnews %}
                    <li><a href="{% url shortnews:list %}" class="item_menu">Notícias</a></li>
                {% else %}
                    <li><span class="item_menu primeiro_item_menu item_menu_disabled">Notícias</span></li>
                {% endif %}

            </ul>
        
        </div>
        <div class="clear"></div>
        <div class="grid_1 sombra_esquerda">&nbsp;</div>
        <div class="grid_8 sombra_conteudo">&nbsp;</div>
        <div class="grid_1 sombra_direita">&nbsp;</div>
        <div class="clear"></div>

    </div>

    <div class="grid_6">

        <div class="grid_6 titulo_portlet_verde" style="margin: 0">
            <b>Login</b>
        </div>
        <div class="clear"></div>
        <div class="grid_6 conteudo_suporte_online" style="margin: 0; position: absolute;">
            {% block login %}
                <b style="float: left; padding: 13px 0 0 60px">
                    <span style="font-weight: normal;">Usuário:</span>&nbsp;{{ user }}<br />
                    <span style="font-weight: normal;">Nome:</span>&nbsp;{{ user.first_name }}&nbsp;{{ user.last_name }}<br />
                    <span style="font-weight: normal;">Email:</span>&nbsp;{{ user.email }}
                </b>
                <div class="toolbar_suporte">
                    <a href="{% url change_password %}" class="link_esqueci_suporte" style="float: right; margin-right: 10px">Alterar senha</a>
                </div>
            {% endblock %}
        </div>
        <div class="clear"></div>
        <div class="grid_1 sombra_esquerda sombra_altura_suporte">&nbsp;</div>
        <div class="grid_4 sombra_barra_lateral sombra_altura_suporte">&nbsp;</div>
        <div class="grid_1 sombra_direita sombra_altura_suporte">&nbsp;</div>
        <div class="clear"></div>

    </div>

    <div class="grid_16 portlet_conteudo">
        {% block content %}
            <h2>Gerenciador</h2>
            <p>
                Efetue o login para administrar as sessões do site.
                {% if user.is_superuser or user|in_group:"Avaliação" or user|in_group:"agua" %}
                    <a href="{% url admin:index %}">ND Administration</a>
                {% endif %}
            </p>
        {% endblock %}
    </div>

    <div class="clear"></div>

    <div class="grid_1 sombra_esquerda">&nbsp;</div>
    <div class="grid_14 sombra">&nbsp;</div>
    <div class="grid_1 sombra_direita">&nbsp;</div>
    <div class="clear"></div>

    <div class="grid_16 agrupador">&nbsp;</div>
    <div class="clear"></div>

    <div class="grid_16 footer">
        <address>
            <span>
                &copy; 2013 ND Engenharia e Software
            </span>
            <span style="float: right;">
                <a href="{% url base:manager %}">Gerenciador</a> |
                <a href="http://www.pulse.med.br">Pulse</a> |
                <a href="http://www.nd.com.br">ND</a>
            </span><br /><br />
            <table>
                <tr>
                    <td>São Paulo</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>SP</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Brasil</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Centro Profissional Morumbi Shopping - Sala 314, Av. Roque Petroni Júnior, 1089 | Tel: (11) 3033.9721</td>
                </tr>
                <tr>
                    <td>Fortaleza</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>CE</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Brasil</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Tibúrcio Cavalcante, 2594  |  Tel: (85) 3392.4342  |  Fax: (85) 3392.4342</td>
                </tr>
                <tr>
                    <td>Orlando</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>FL</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>USA</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>121 S. Orange Avenue, Suite 1500 (#17), zip 32801</td>
                </tr>
            </table>
        </address>
    </div>

</div>
</body>
</html>