/**
 * created by ND Engenharia e Software.
 * user: Mario Chaves <mario@nd.com.br>, <macndesign@gmail.com>
 * date: 09/06/2011
 * time: 09:51
 * to change this template use file | settings | file templates.
 */

body {
    background: #fdfdfd url("/static/core/img/bg_gradient.jpg") repeat-x fixed;
}

a {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #2c6ed5;
    font-style: italic;
}

a:hover {
    text-decoration: none;
}

/**
 * Validação
 */

ul.messages {
    margin: 0 0 10px 0;
    padding: 0;
}
ul.messages li {
    list-style: none;
    margin-left: 2px;
    font-weight: bold;
}
li.success {
    color: green;
}
li.error {
    color: #CC3434;
}
ul.errorlist {
    margin: 0;
    padding: 0;
}
ul.errorlist li {
    list-style: none;
    margin-left: 2px;
    color: #CC3434;
}

/**
 * letreiro
 */

.topo_letreiro {
    background-image: url("/static/core/img/topo_letreiro_skin2.png");
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.texto_letreiro {
    display: block;
    float: left;
    margin: 5px 0 0 10px;
    width: 865px;
    overflow: hidden;
    color: #777;
}

.btn_letreiro {
    float: right;
    width: 60px;
}

.btn_letreiro_anterior {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -100px;
    float: left;
    overflow: hidden;
}

.btn_letreiro_proximo {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -100px;
    float: right;
    overflow: hidden;
}

.btn_letreiro_anterior:hover, .btn_letreiro_proximo:hover {
    background: transparent url("/static/core/img/topo_letreiro_btn_over.png") no-repeat top left;
}

.btn_letreiro_anterior:active, .btn_letreiro_proximo:active {
    background: transparent url("/static/core/img/topo_letreiro_btn_active_skin2.png") no-repeat top left;
}

/**
 * sombra
 */

.sombra_esquerda {
    background: url("/static/core/img/sombra_esquerda_portlet_bg.png") top right no-repeat;
    height: 11px;
    margin-right: 0 !important;
}

.sombra_direita {
    background: url("/static/core/img/sombra_direita_portlet_bg.png") top left no-repeat;
    height: 11px;
    margin-left: 0 !important;
}

.sombra {
    background: url("/static/core/img/sombra_portlet_bg.png") repeat-x;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 860px !important;
}

.sombra_conteudo {
    background: url("/static/core/img/sombra_portlet_bg.png") repeat-x;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 480px !important;
}

.sombra_barra_lateral {
    background: url("/static/core/img/sombra_portlet_bg.png") repeat-x;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 240px !important;
}

/**
 * topo
 */

.logo_nd {
    background: url("/static/core/img/logo_nd_topo_transp.png") top left;
    display: block;
    width: 280px;
    height: 95px;
    text-indent: -999px;
}

.separa_logo_patrocinio {
    background: url("/static/core/img/separa_logo_patrocinio.png") center no-repeat;
    height: 95px;
}

.menu {
    background: url("/static/core/img/menu_v3.png");
    height: 43px;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.item_menu {
    height: 34px;
    width: 114px;
    margin: 1px 0 0 0;
    display: block;
    float: left;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #aaa;
    text-decoration: none;
    padding-top: 11px;
    border-right: solid 1px #dbdbdb;
    border-left: solid 1px #fff;
    font-size: 0.99em;
}

.item_menu:hover {
    background: url("/static/core/img/menu_bg_btn_v2.png") top center no-repeat;
    color: #777;
}

.primeiro_item_menu {
    border-left: solid 1px transparent;
}

.ultimo_item_menu {
    border-right: solid 1px transparent;
}

.titulo_portlet_verde {
    background: url("/static/core/img/titulo_portlet_verde_v3.png") no-repeat;
    height: 38px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}

.titulo_portlet_verde b {
    display: block;
    text-transform: uppercase;
    margin: 5px 0 0 46px;
    color: #fff;
    font-size: 18px;
    text-shadow: 0 0 0 #fff, 1px 1px 1px #555;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.conteudo_suporte_online {
    background: url("/static/core/img/corpo_rodape_suporte_v2.png") no-repeat;
    height: 116px;
    padding-top: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.conteudo_suporte_online div.text_field_suporte {
    padding: 10px 0 0 10px;
}

div.toolbar_suporte {
    width: 100%;
    position: absolute;
    top: 88px;
}

.btn_submit_suporte {
    background: transparent url("/static/core/img/btn_verde.png") no-repeat;
    width: 70px;
    height: 26px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    float: right;
}

.btn_submit_suporte:hover {
    background: transparent url("/static/core/img/btn_verde_over.png") no-repeat;
    cursor: pointer;
}

.link_esqueci_suporte {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
}

.conteudo_suporte_online div label {
    text-transform: uppercase;
    color: #8e8e8e;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
    float: left;
    padding-top: 7px;
    padding-right: 3px;
    text-align: right;
    width: 80px;
}

.sombra_altura_suporte {
    position: relative;
    top: 120px;
}

/**
 * conteudo
 */

.shadow_conteudo {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
}

.portlet_conteudo {
    background: #fff url("/static/core/img/corpo_portlet_bg.png") repeat-x;
    /* Mesmo código do shadow_conteudo */
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
}

.portlet_conteudo h2 {
    margin: 7px 0 0 10px;
}

.portlet_conteudo p {
    margin: 10px 0 10px 10px;
}

.portlet_lateral {
    background: #fff;
}

.agrupador {
    background: url("/static/core/img/agrupador.png") repeat-x;
    height: 22px;
}

.mapa_site {
    background: url("/static/core/img/separa_mapa_site_column_v2.gif") repeat-y top left;
    float: left;
    margin-top: 3px;
}

.mapa_site_column {
    margin-top: 5px;
}

.mapa_site_column h3 {
    font-size: 1.4em;
    color: #aaa;
    margin: 11px 0 0 10px;
}

.mapa_site_column ul {
    list-style: square;
    color: #999;
    margin-top: 5px;
    margin-left: -3px;
}

.mapa_site_column ul li {
    line-height: 2em;
}

.footer address {
    font-style: normal;
    font-size: 0.9em;
    color: #555;
}

/**
 * forms
 */

input, textarea {
	padding: 3px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: #FFFFFF url("/static/core/img/bg_form.png") left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: #C9C9C9;
	box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
	}
