<html>
<head>
    <title>{% block title %}Documentção | {% endblock %}</title>
    <style>
        html, body, iframe {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: none;
            overflow: hidden;
        }
    </style>
</head>
<body>
<iframe src="{% block iframe %}{% endblock %}"></iframe>
</body>
</html>