{% extends "base/index.html" %}

{% block title %}
    {% if slider %}
        Alterar notícia curta
    {% else %}
        Cadastrar nova notícia curta
    {% endif %}
{% endblock %}

{% block header %}
    {% if slider %}
        Alterar notícia curta
    {% else %}
        Cadastrar nova notícia curta
    {% endif %}
{% endblock %}

{% block content %}

    {% if slider %}
        <h2>Alterar notícia curta</h2>
    {% else %}
        <h2>Cadastrar nova notícia curta</h2>
    {% endif %}

    <div style="padding: 20px 10px 0 10px">

        {% include "snippets/message.html" %}
        {{ form.non_field_errors }}

        <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
            <table>
                {% include "snippets/form.html" %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Salvar" style="color: green; font-weight: bold;" />
                        <input type="button" onclick="document.location='{% url shortnews:list %}'" value="Cancelar" style="color: #CC3434; font-weight: bold;" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
{% endblock %}
