{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Listagem de notícia curta{% endblock %}
{% block content %}
    <h2>
        Listagem de notícia curta
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url shortnews:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url shortnews:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url shortnews:create %}'"
               value="+ Novo notícia curta" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Autor</td>
                <td>Título</td>
                <td>Conteúdo</td>
                <td>Data</td>
                <td>Data da Notícia</td>
                <td>Editar</td>
                <td>Excluir</td>
            </tr>
        </thead>
        <tbody>
            {% for shortnews in shortnews_list %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if shortnews.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td>{{ shortnews.author }}</td>
                    <td><a href="{% url shortnews:detail shortnews.pk %}">{{ shortnews.title }}</a></td>
                    <td>{{ shortnews.body|truncatewords:"12" }}</td>
                    <td>{{ shortnews.created_date }}</td>
                    <td>
                        {% if shortnews.news_date %}
                            {{ shortnews.news_date }}
                        {% else %}
                            Sem data
                        {% endif %}
                    </td>
                    <td><a href="{% url shortnews:update shortnews.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url shortnews:delete shortnews.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=shortnews_list.count %}
                <tr>
                    <td colspan="8" style="text-align: right; font-weight: bold; color: green;">{{ total }} notícia{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
