{% extends "core/site.html" %}
{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript">
    $(function(){
        $(".news_body_detail").find("p").css("margin", "0");
    });
    </script>
{% endblock %}
{% block title %}Home &rsaquo; Notícias &rsaquo; {{ shortnews.title }}{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; <a href="{% url base:news %}">Notícias</a> &rsaquo; {{ shortnews.title|truncatewords:"6" }}{% endblock %}
{% block site_content %}

    <div class="clear"></div>
    <div class="grid_10" style="margin: 0; padding: 0">


        <table class="clients_skeleton">
            <tr><td style="padding: 5px 10px">
                <strong style="font-size: 1.8em;">{{ shortnews.title }}</strong><br />
                <!-- Autor -->
                <span class="locality" style="font-size: 0.9em">
                    Por {{ shortnews.author }} em
                    {% if shortnews.news_date %}
                        {{ shortnews.news_date }}
                    {% else %}
                        {{ shortnews.created_date }}
                    {% endif %}
                </span>
                <div class="news_body_detail" style="font-style: normal; color: #000; margin-top: 5px">
                    <!-- Corpo -->
                    {{ shortnews.body|safe }}
                </div>
            </td></tr>
        </table>

    </div>
    <div class="grid_6" style="padding: 0; margin: 0;">

        {% for news in news_list %}

            <table style="margin-bottom: 0;">
                <tr><td style="padding: 5px 10px">
                    <strong style="font-size: 1.2em;">
                        <a href="{% url base:news_detail news.slug %}">{{ news.title|truncatewords:"6" }}</a>
                    </strong><br />
                    <!-- Autor -->
                    <span class="locality" style="font-size: 0.85em; color: #777">
                        Por {{ news.author }} em
                        {% if news.news_date %}
                            {{ news.news_date }}
                        {% else %}
                            {{ news.created_date }}
                        {% endif %}
                    </span>
                </td></tr>
            </table>

        {% endfor %}

    </div>

{% endblock %}