{% extends "core/site.html" %}

{% block title %}Home &rsaquo; Notícias{% endblock %}
{% block site_title %}<a href="{% url base:homepage %}">Home</a> &rsaquo; Notícias{% endblock %}
{% block site_content %}

    <div class="clear"></div>
    <div style="margin-left: 0">

    {% for news in news_list %}

        <table class="clients_skeleton">
            <tr><td style="padding: 5px 10px">
                <strong style="font-size: 1.2em;"><a href="{% url base:news_detail news.slug %}">{{ news.title }}</a></strong><br />
                <!-- Autor -->
                <span class="locality" style="font-size: 0.9em">
                    Por {{ news.author }} em
                    {% if news.news_date %}
                        {{ news.news_date }}
                    {% else %}
                        {{ news.created_date }}
                    {% endif %}
                </span>
                <div style="font-style: normal; color: #000; margin-top: 5px">
                    <!-- Corpo -->
                    {{ news.body|truncatewords:"20" }}
                </div>
            </td></tr>
        </table>

    {% endfor %}

    </div>

{% endblock %}