{% extends "base/index.html" %}

{% block extra_head %}
    <style type="text/css">
        table {
            display: block;
            margin: 15px 10px 10px 10px;
        }
        table tr td {
            padding: 0.3em;
        }
        thead tr td:first-child {
            border-top-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
        }
        thead tr td:last-child {
            border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            -webkit-border-top-right-radius: 4px;
        }
        thead tr td {
            background: #777;
            color: white;
            font-weight: bold;
        }
        .odd {
            background: #efefef;
        }
        .change_position {
            float: right;
            font-size: 0.5em;
            padding-top: 9px;
            padding-right: 3px;
        }
        .change_position a {
            border: solid 1px #ddd;
            margin-right: 5px;
            padding: 1px 5px;
        }
        .type_1, .type_2, .type_4 {
            background-color: #f6f6f6;
            color: #778899;
            border: solid 1px #777;
            text-decoration: none;
            cursor: default;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(":text:first").focus();
        });
    </script>
{% endblock %}

{% block title %}Venda direta{% endblock %}
{% block content %}
    <h2>
        Venda direta
        {% if user.is_superuser %}
            <input type="button" onclick="document.location='{% url directsale:deactivate_all %}'"
                   value="Desativar todos" style="float: right; color: #cc3434; font-weight: bold; margin: 7px 10px 0 0" />
            <input type="button" onclick="document.location='{% url directsale:activate_all %}'"
                   value="Ativar todos" style="float: right; color: #4169e1; font-weight: bold; margin: 7px 10px 0 0" />
        {% endif %}
        <input type="button" onclick="document.location='{% url directsale:create %}'"
               value="+ Nova venda direta" style="float: right; color: green; font-weight: bold; margin: 7px 10px 0 0" />

        <span class="change_position">
            <a class="{{ type_1 }}" href="{% url directsale:change_position '1' %}">1 anuncio</a>
            <a class="{{ type_2 }}" href="{% url directsale:change_position '2' %}">2 anuncios</a>
            <a class="{{ type_4 }}" href="{% url directsale:change_position '4' %}">4 anuncios</a>
        </span>
    </h2>
    <div class="message_wrap">{% include "snippets/message.html" %}</div>
    <table>
        <thead>
            <tr>
                <td>Ativo</td>
                <td>Posição</td>
                <td>Anunciante</td>
                <td>Imagem</td>
                <td>Link</td>
                <td>Editar</td>
                <td>Excluir</td>
                <td>Ver</td>
            </tr>
        </thead>
        <tbody>
            {% for sale in directsales %}
                <tr class="{% cycle 'odd' '' %}">
                    {% if sale.active %}
                        <td style="color: green; font-weight: bold;">Sim</td>
                    {% else %}
                        <td style="color: #aaa; font-weight: bold;">Não</td>
                    {% endif %}
                    <td>{{ sale.position }}</td>
                    <td><a href="{% url directsale:detail sale.pk %}">{{ sale.advertiser }}</a></td>
                    <td>{{ sale.image|striptags|slice:"12:" }}</td>
                    <td><a href="{{ sale.link }}" target="_blank">{{ sale.link }}</a></td>
                    <td><a href="{% url directsale:update sale.pk %}" style="color: green; font-weight: bold;">Editar</a></td>
                    <td><a href="{% url directsale:delete sale.pk %}" style="color: #CC3434; font-weight: bold;">Excluir</a></td>
                    <td><a href="{{ MEDIA_URL }}{{ sale.image }}">Ver</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="6">Não há venda direta cadastrada.</td></tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% with total=directsales.count %}
                <tr>
                    <td colspan="8" style="text-align: right; font-weight: bold; color: green;">{{ total }} venda{{ total|pluralize }}</td>
                </tr>
            {% endwith %}
        </tfoot>
    </table>
{% endblock %}
